[2019-11-07 16:32] aiosifelis commented on #1159
I don't understand why you closed the issue.

[2019-11-07 16:35] matthewrgourd commented on #1159
Ah, sorry, thought you were able to continue now but obviously not. No, we do not have those headers but the article was intended as a general guide to CORS. If you're still having issue please check previous issues raised on the same subject in this forum: https://github.com/VivaPayments/API/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+cors+

[2019-11-07 16:38] aiosifelis commented on #1159
Thanks for your reply. I'm going to have to test it again since it has been a couple of weeks and if I get to the same conclusion I will post again to this issue.

[2019-11-07 17:03] deliverymanager commented on #1092
Any news on the alternative method?
Or an estimate of the release date?

[2019-11-07 19:08] nickthesail0r commented on #1170
i have found an error in vivawallet plugin on opencart 3.0 you should change #payment to payment_method on /catalog/view/theme/default/template/extension/payment/vivawallet.twig on line 1 and on line 7

[2019-11-08 03:57] VivaWalletSupport commented on #1170
@Nickthesail0r as the id of the form is `payment`, using `payment_method` to trigger the form submission seems not logic.

[2019-11-08 09:38] matthewrgourd commented on #1092
No news as yet. @dpnevmatikos Can you provide any updates? Thanks!

[2019-11-08 09:57] mariaalex93 opened #1198 "API KEY"
How can i change the API KEY

[2019-11-08 10:03] mariaalex93 opened #1199 "ΠΩΣ ΑΛΛΑΖΩ ΤΟ API KEY ΣΤΟ VIVA BACKOFFICE"
Καλησπέρα σας,

Θα ήθελα να μου εξηγήσετε τον τρόπο για το πως θα αλλάξω το API KEY στο VIVA BACKOFFICE.

[2019-11-08 10:21] #1198 closed

[2019-11-08 10:57] matthewrgourd commented on #1199
Hi @mariaalex93 you simply go to the [API access screen](https://developer.vivawallet.com/e-commerce-plugins/find-your-merchant-id-and-api-key/) and amend your API key with your preferred characters.

[2019-11-08 12:06] nickthesail0r commented on #1170
with that id #payment it did not trigger the submission for me because opencart recalls the payment_method id

[2019-11-08 12:20] matthewrgourd commented on #1194
Hi @FLIPNEWMEDIA I've enabled your public API key now. For some reason it previously wasn't displaying under your profile. Can you try the process again from the beginning with this value for `data-vp-publickey`? Let me know how you get on!

[2019-11-08 12:32] VivaWalletSupport commented on #1170
I cannot replicate the issue your mention. In case there is a conflict with another payment method, you might rename the form id to `vivapayment` and the trigger to `#vivapayment`.

[2019-11-08 14:23] HumayunE commented on #1135
Hi @matthewrgourd I have just tried it and it seems the old problem of redirecting is back.
Now it is not redirecting back to the website again.

See screenshots:
![Screenshot 2019-11-08 at 7 19 01 PM](https://user-images.githubusercontent.com/10536341/68483184-e4f91f80-025c-11ea-94c7-1f4723a9d4b4.png)

![Screenshot 2019-11-08 at 7 19 16 PM](https://user-images.githubusercontent.com/10536341/68483

[2019-11-08 14:25] HumayunE commented on #1135
I also tried with these card details but no luck..

Visa Card : 4860530113481433
Expiry : 12/19
CVV : 123

[2019-11-08 14:32] Zouari11 opened #1200 "404 - File or directory not found."
Hello,
I installed viva payments, only
- I have a 404 error
- I can not put Webhook:
https://www.rapide-achat.com/index.php?wc-api=wc_vivawallet&vivawallet=webhook

https://www.rapide-achat.com
<img width="641" alt="Capture d’écran 2019-11-08 à 15 27 22" src="https://user-images.githubusercontent.com/57533754/68484128-00543280-023d-11ea-865b-9e76fd1c6f06.png">
<img width="1280" alt="Capture d’é

[2019-11-08 15:06] FLIPNEWMEDIA commented on #1194
The problem is fixed. Everything works as expected! Thank you!

[2019-11-08 16:26] #1194 closed

[2019-11-08 16:38] nickthesail0r commented on #1170
check the response and the request. opencart is calling payment_method by default in complete order button.Many sites have the Cash on delivery plugin or pick from store even other payment methods so maybe this makes the conflict.

[2019-11-08 16:49] matthewrgourd commented on #1172
Hi @fabiosicilia86 sorry to hear you're experiencing issues. Can I just check, did you copy the public key from your account area? https://developer.vivawallet.com/online-checkouts/find-your-public-api-key/

[2019-11-08 21:52] aiosifelis commented on #1159
I have tested it again by implementing from the beginning the native checkout v2 as it is described in the developers section. So far no CORS error has occurred. Probably my mistake was that I followed the migration instructions which muddied the waters a little bit. I'm going to open a separate issue if something comes along.
Thank you.

[2019-11-08 21:52] #1159 closed

[2019-11-09 10:47] HumayunE commented on #1056
Hi @dpnevmatikos I tried it yesterday but it does not redirect back to website and shows message:
"This card does not support electronic transactions. In order to complete this payment please use a different card, or add funds to your Viva Wallet."

I updated it yesterday on #1135 .

[2019-11-10 06:55] VivaWalletSupport commented on #1200
Please provide following screenshots:

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the browser's URL in the screenshot).

[2019-11-10 20:30] maab16 commented on #1177
Hello @matthewrgourd ,

Thanks for your reply. Can you send me some example where receive chargeToken using php (No JavaScript)?

[2019-11-11 05:41] Shubham3454 opened #1201 "stuck at viva 3d secure payment page in demo"
hi,
I am using viva redirect checkout in demo environment  i am using 4111111111111 and 111 as card number and cvv with valid date of card date here is the req body  and url -
https://demo.vivapayments.com/api/orders
{
  "Tags": [
    "sample string 1",
    "sample string 2",
    "sample string 3"
  ],
  "Email": "customer123@yopmail.com",
  "Phone": "2117604000",
  "FullName": "Customer Name",

[2019-11-11 10:52] ranger-a opened #1202 "Simple Checkout integration (novice)"
Is it possible for a complete novice to integrate the simple checkout into a website ? I have zero experience, I employed the theme developer to do this for me but they have let me down, now I'm stuck. Don't know where to start despite looking at the guidelines, it makes no sense to me !! tia

[2019-11-11 11:00] matthewrgourd commented on #1177
Hi @maab16 unfortunately we're not in a position to provide php code samples right now but here's a link to a Postman collection I created earlier: https://app.getpostman.com/run-collection/abcf52c40e501ff233f0 . Or you can import the JSON (attached) into Postman. I hope this is a help to you!

[2019-11-11 13:40] matthewrgourd commented on #1201
Hi there, it appears you added a duplicate URL component to the redirect address:

https://demo.vivapayments.com/web/web/checkout?ref=[order code]

E.g.

https://demo.vivapayments.com/web/web/checkout?ref=3808346171052841

when it should be

https://demo.vivapayments.com/web/checkout?ref=[order code]

E.g.

https://demo.vivapayments.com/web/checkout?ref=3808346171052841

[2019-11-11 13:42] matthewrgourd commented on #1126
Hi @devtst I couldn't recreate this problem. Is it still an issue or have you now created your demo account?

[2019-11-11 13:44] matthewrgourd commented on #1139
Closing now as answered via email.

[2019-11-11 13:44] #1139 closed

[2019-11-11 13:45] #1144 closed

[2019-11-11 13:48] #1170 closed

[2019-11-11 13:49] matthewrgourd commented on #1171
Hi @fabiosicilia86 I'm closing this now. I believe you may have emailed me. If not, please email mgourd@vivawallet.com and I'll enable your API key. Thanks!

[2019-11-11 13:49] #1171 closed

[2019-11-11 13:56] Shubham3454 commented on #1201
@matthewrgourd  I haven't added web/web I think it  is added two times own its own, because  in case I have added this then the URL on which I am adding card details should be - https://demo.vivapayments.com/web/web/checkout?ref=6508413876722094 which will not open so after going to https://demo.vivapayments.com/web/checkout?ref=6508413876722094 and adding card details it is redirecting to https:/

[2019-11-11 14:02] #1201 closed

[2019-11-11 14:04] matthewrgourd commented on #1182
Hi @human-cbd I'm sorry I cannot recreate the issue. Is it still a problem?

[2019-11-11 14:10] #1185 closed

[2019-11-11 14:14] #1187 closed

[2019-11-11 14:15] matthewrgourd commented on #1188
Hi @cstsortan I understand that v1 won't suddenly stop working tomorrow but you'd be wise to upgrade to v2 when you can.

[2019-11-11 14:15] #1188 closed

[2019-11-11 14:20] matthewrgourd commented on #1197
Hi there, please send your demo and production Merchant IDs to mgourd@vivawallet.com refererencing this issue. Thanks!

[2019-11-11 14:21] #1199 closed

[2019-11-11 14:34] ranger-a commented on #1202
Can someone do this for me ?

[2019-11-11 14:56] fabiosicilia86 commented on #1171
ok

Il giorno lun 11 nov 2019 alle ore 14:49 matthewrgourd <
notifications@github.com> ha scritto:

[2019-11-11 17:25] maab16 commented on #1177
Hello @matthewrgourd, It looks good in postman. I'm trying to apply in my project. I'll inform if I need further help. Thanks for your help.

[2019-11-11 22:00] #1177 closed

[2019-11-12 08:40] matthewrgourd commented on #1197
Hi @puppinoo, I've checked both your accounts and [recurring transactions](https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Transactions/paths/~1transactions~1{Id}/post) is switched on. If you're looking to use [Original Credit Transaction](https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Transactions/paths/~1transactions~1{Id}?ServiceId=6/delete), I'm afr

[2019-11-12 08:42] matthewrgourd commented on #1202
Hi @ranger-a I'm afraid you do need to have some front-end development experience as we don't offer any training or consultancy at this end. Sorry for that and good luck!

[2019-11-12 08:42] #1202 closed

[2019-11-12 08:45] matthewrgourd commented on #1182
Hi @human-cbd you can create as many demo accounts as you like, just vary the mobile number at registration (doesn't have to be real as we don't need to send any verification texts unless you are registering for production). The error you're receiving is because you attempted to set up a new account with a previously registered mobile number. I've checked more than once and there's definitely no i

[2019-11-12 08:45] #1182 closed

[2019-11-12 08:46] matthewrgourd commented on #1126
Hi @devtst, you can create as many demo accounts as you like, just vary the mobile number at registration (doesn't have to be real as we don't need to send any verification texts unless you are registering for production). The error you're receiving is because you attempted to set up a new account with a previously registered mobile number. I've checked more than once and there's definitely no iss

[2019-11-12 08:46] #1126 closed

[2019-11-12 08:53] matthewrgourd commented on #1000
@john-antunes @VaiaPatta Could you let me know if this is definitely a problem you're experiencing with your live production accounts rather than demo instances?

[2019-11-12 08:55] matthewrgourd commented on #1122
Hi @sdstef as far as I'm aware the option to add custom fields isn't available with Simple Checkout. Apologies for any inconvenience caused.

[2019-11-12 08:55] #1122 closed

[2019-11-12 09:03] matthewrgourd commented on #1009
Hi there, I believe you need to [request a new store token](https://viva.microsoftcrmportals.com/shopify/) using the Merchant ID for the secondary account, then set up Shopify as instructed in our [Shopify guide](https://developer.vivawallet.com/e-commerce-plugins/shopify/).

[2019-11-12 09:04] matthewrgourd commented on #1109
Hi @Simonfbarrett unfortunately this will happen from time-to-time in the same way that customers in face-to-face transactions also have infrequent issues with the cards they attempt to use. However, if there is a pattern you can see (card issuer, card type etc.) please let me know and we will investigate further.

[2019-11-12 09:04] #1109 closed

[2019-11-12 09:39] human-cbd commented on #1182
NO it's not working, my problem are not resolve... I can't use your system payment, read my message, i have already try it, my problem is a API problem. 2 weeks to tell me how to create a demo acount... Not serious...

[2019-11-12 09:51] matthewrgourd commented on #1182
Hi there, please provide a link to the API issue if you’ve already raised one and I will look at it a.s.a.p.

[2019-11-12 09:56] human-cbd commented on #1182
https://github.com/VivaPayments/API/issues/1174

[2019-11-12 10:07] matthewrgourd commented on #1191
Hi @kybalion2 thank you for the feedback. I will pass on to our development team for analysis and potential action. Best regards.

[2019-11-12 10:07] #1191 closed

[2019-11-12 10:38] john-antunes commented on #1000
Definitely live environment.

Sent from my iPhone

On 12 Nov 2019, at 08:53, matthewrgourd <notifications@github.com> wrote:

﻿

@john-antunes<https://github.com/john-antunes> @VaiaPatta<https://github.com/VaiaPatta> Could you let me know if this is definitely a problem you're experiencing with your live production accounts rather than demo instances?

—
You are receiving this because you were men

[2019-11-12 11:35] varungoswami opened #1203 "failed international payment on VIVA Wallet"
I have website running on Magento 1.9 and have native checkout Before we were able to get payment from Abroad, now every customer out of the UK can not process their card via Viva Wallet. I have almost 4k plus failed order, Domestic UK customer are paying without any issue.

[2019-11-12 11:38] puppinoo commented on #1197
Hi,
Thanks for answering me. I was receiving the error while testing the Simple CheckOut but I switched to "Redirect CheckOut" cause I need to enable recurring payments. With the method I used before the recurring payments were performed automatically. For example I set an "Annual" plan with "Monthly" as period and your gateway at each month for 12 times performed the transaction without the need

[2019-11-12 11:48] ntourziotis commented on #1192
Greetings again,

We changed the API Key finally!

Unfortunatelly we are facing the same issue. Could you please check and let us know, what we have to do ? Our company has very big issue and very big economical impact with this error.

Please let us know.

Regards
Ioannis

[2019-11-12 12:55] matthewrgourd commented on #1174
Hi @human-cbd I have tried and retried but I'm able to create demo accounts without any problems. Hence I have closed https://github.com/VivaPayments/API/issues/1182. Please let me know what the outstanding issue is and @VivaWalletSupport or myself will try to resolve.

[2019-11-12 16:03] human-cbd commented on #1174
I managed to create a demo account, there is an error with the french numbers because I managed to choose Germany.

I replaced Marchant ID with the one from the demo account, I tried to place an order but I have a 404 error.

![image](https://user-images.githubusercontent.com/56971117/68688046-6529c880-056e-11ea-9338-6574ce859f87.png)

[2019-11-12 16:41] BoostYourDigital opened #1204 "Viva Wallet | Plugin Opencart"
Hello,
I've one bug in my installation. Every purchase made in the shop is going to missing orders. Check ss below:
http://prntscr.com/pvzoik

Everything is working fine on frontend, the money goes to the wallet but the orders gets this "filter".
any idea why?
This is the shop: https://mariadomarshop.com/loja/
This is the client number: Paper Boat Import & Export Lda

Thanks.
Please reach on email

[2019-11-12 17:17] VivaWalletSupport commented on #1174
Hello, what version of PHP is used and could you please provide following screenshots?

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the browser's URL in the screenshot).

[2019-11-12 17:52] human-cbd commented on #1174
My PHP version : 7.2

Screenshot ( demo mode )
![image](https://user-images.githubusercontent.com/56971117/68696525-6ca49e00-057d-11ea-9bea-bb2927842a61.png)
![image](https://user-images.githubusercontent.com/56971117/68696271-ed16cf00-057c-11ea-90e8-6f2d9a8adede.png)
![image](https://user-images.githubusercontent.com/56971117/68696558-7b8b5080-057d-11ea-9987-02e99bab7005.png)
![image](https://use

[2019-11-12 22:59] Varekto opened #1205 "PaymentsPolicyCreditRestriction | Native Checkout v2 3DS"
Hey,
I'm working on integration Native Checkout v2 3DS.

But I every time get the response:
[code]

Could you please tell me the reason?

[2019-11-13 05:37] VivaWalletSupport commented on #1174
The posted plugin settings indicate that a 3rd party plugin is used. Please use the supported plugin from https://developer.vivawallet.com/e-commerce-plugins/woocommerce/

[2019-11-13 05:41] VivaWalletSupport commented on #1204
Hello, in case the plugin and instructions are used from https://developer.vivawallet.com/e-commerce-plugins/ please provide following screenshots:

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the bro

[2019-11-13 06:08] VivaWalletSupport commented on #1192
Please send admin login credentials + FTP credentials to vivawalletgithubsupport@hellasboost.gr with a cc to ecommerce-support@vivawallet.com to investigate the problem.

[2019-11-13 09:28] matthewrgourd commented on #1205
Hi @Varekto please send your Merchant ID to mgourd@vivawallet.com referencing this issue and I'll check your account. Thanks!

[2019-11-13 11:21] morv96 commented on #1205
hi, the marcant ID was sent to the email you post above.

[2019-11-13 11:22] marketima commented on #1205
hi, the marcant ID was sent to the email you post above.

[2019-11-13 11:36] Daubthi commented on #214
Hi, efidolcini, Did you find a solution to implement vivawallet on wix ?
Thank you

[2019-11-13 11:45] matthewrgourd commented on #1205
Hi @Varekto I've checked your account and setup isn't fully completed yet I'm afraid. You should have received emails regarding this. Please try again once you receive confirmation.

[2019-11-13 12:03] marketima commented on #1205
hi, i have checked my email and i didn't recieve any. emailregarding setup or what you wrote
what setup? i worked before with native checkout v1 and when i immigrate to v2 i saw this error again.

so what do i need to do? (i didn't got you from your response)

[2019-11-13 12:10] matthewrgourd commented on #1205
Have you checked for any messages on your account after [logging in](https://members.vivawallet.com/en-eu/signin)? If you're still unsure about your account status please call customer services: https://www.vivawallet.com/en-eu/contact-us/

[2019-11-13 14:26] human-cbd commented on #1174
Hello I have to reinstall the plugin but I always have the same error, the loading is infinite during the checkout ( live mode )
![image](https://user-images.githubusercontent.com/56971117/68772250-c8c4fc00-0629-11ea-8402-15da4d3a1039.png)
![image](https://user-images.githubusercontent.com/56971117/68772266-cd89b000-0629-11ea-8633-a774fb1c35fa.png)
![image](https://user-images.githubusercontent.co

[2019-11-13 15:23] VivaWalletSupport commented on #1174
Hello, please configure for the demo mode and provide following screenshots:

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the browser's URL in the screenshot).

[2019-11-13 15:59] human-cbd commented on #1174
(demo mode ) It's working, i come on your page :

![image](https://user-images.githubusercontent.com/56971117/68780607-d8970d00-0636-11ea-896e-584ab383ee51.png)
![image](https://user-images.githubusercontent.com/56971117/68780630-ddf45780-0636-11ea-9eff-5d74358c3fdc.png)

After there is an error :

[2019-11-13 16:00] human-cbd commented on #1174
![image](https://user-images.githubusercontent.com/56971117/68780681-ed73a080-0636-11ea-92a9-6b8d2f276661.png)

![image](https://user-images.githubusercontent.com/56971117/68780710-f6647200-0636-11ea-9475-5488c1a8147f.png)

![image](https://user-images.githubusercontent.com/56971117/68780748-03816100-0637-11ea-9f10-b42132763d73.png)

![image](https://user-images.githubusercontent.com/56971117/6878

[2019-11-13 17:41] codnext opened #1206 "API Call failed!"
Καλησπέρα σας,

Τρέχω τον κώδικα .php που βρήκα στον ακόλουθο σύνδεσμο έχοντας αλλάξει τα merchant id και api key με αυτά του λογαριασμού μου:
https://github.com/VivaPayments/API/blob/master/CreateOrder/PHP/create_order.php

**Αλλά λαμβάνω το ακόλουθο μήνυμα:**
"API Call failed! The error was: Your Order Code is:
To simulate a successful payment, use the credit card 4111 1111 1111 1111, with a val

[2019-11-13 17:55] BoostYourDigital commented on #1204
Hello,
http://prntscr.com/pwip2v
http://prntscr.com/pwipm2

Is this all that you need?
Thanks.

[2019-11-13 18:09] VivaWalletSupport commented on #1174
Did the transaction succeed in Viva, what was used to make the test transactions (amount, what card)?

[2019-11-13 18:12] VivaWalletSupport commented on #1204
You posted 2 from the 4 requested screenshots. So far I see you did not specify the source code (5061) in the plugin settings like mentioned in the instructions.

[2019-11-13 19:13] VivaWalletSupport commented on #1192
The problem is the Vivawallet Merchant ID that you specified in the plugin settings. The 6th character should be a 0 (zero) and not an O (capital O as in Oscar). Please make the correction.

[2019-11-13 19:43] alexbk31 opened #1207 "magneto 2.2.9 viva wallet redirect error"
Hi when a customer places order on website it dosnt seem to redirect to viva it just gose to order complete
please see attached

[2019-11-13 19:48] alexbk31 commented on #1207
![viva payment check out 2](https://user-images.githubusercontent.com/51369531/68798298-10f61580-064e-11ea-977d-c4db913bd471.jpg)
![viva payment check out](https://user-images.githubusercontent.com/51369531/68798299-10f61580-064e-11ea-8a67-85aa831b05ec.jpg)
![viva payment check out 3](https://user-images.githubusercontent.com/51369531/68798531-7c3fe780-064e-11ea-88ca-24c7a34ba827.jpg)
![viva payme

[2019-11-13 21:26] human-cbd commented on #1174
Trying again the transaction was successful, I did not think it was necessary to use a real card for demo mode ..
![image](https://user-images.githubusercontent.com/56971117/68805669-91c00c00-0664-11ea-8eba-7b6ea8122f53.png)
![image](https://user-images.githubusercontent.com/56971117/68805679-971d5680-0664-11ea-8272-db8ce17f5fa5.png)

[2019-11-14 06:08] ntourziotis commented on #1192
Good morning

Thanks a lot for your help,very
much appreciated.

It looks very weird to me, the fact I have never changed that before. So
the capital O was there from the beginning of the configuration!

Do you believe now we are fine ?

Best regards

Ioannis

On Wed, Nov 13, 2019, 9:13 PM Tom van der Veer <notifications@github.com>
wrote:

[2019-11-14 08:59] #1146 closed

[2019-11-14 09:03] #1009 closed

[2019-11-14 11:01] cerbere83 commented on #833
Hey I have the same problem.
I need help.
Thank

[2019-11-14 11:02] cerbere83 opened #1208 "I need help please"
Hello,
Hello, I downloaded the module from Vivawallet,
I followed all the steps for the installation

but I have problems installing the new payment module and for the WEBHOOK

and when I go on the link I have that

Warning: sizeof(): Parameter must be an array or an object that implements Countable in /home/clients/9a9f7c20096b786adaacf45f61f90838/web/wp-content/plugins/vivawallet-for-woocommerce

[2019-11-14 11:50] Earthnat opened #1209 "401 submiting /nativecheckout/v2/transactions"
We're getting 401 when submiting the transaction confirmation with chargeToken from our server side as showed on https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#step-5-make-the-actual-charge

It seems all is working up to this last step.

We tried by adding the "Authorization Basic auth" header we used to obtain the OAuth token but without success.

What kind of authorization

[2019-11-14 16:31] matthewrgourd commented on #1209
Hi @Earthnat you need to user the time-limited bearer token generated in [Step 2](https://developer.vivawallet.com/authentication/#step-2-request-access-token) of the OAuth 2 token generation procedure. Set the auth to type to 'bearer'. Hope this helps! If not I'll investigate further.

[2019-11-14 16:34] matthewrgourd commented on #1206
Hi @codnext can you see if the following card details work instead and let me know how you get on? Thanks!

"cvc": 111,
"expirationMonth": 1,
"expirationYear": 2020,
"holderName": "Nikos Saravanos",
"number": "4016000000000000028"

[2019-11-14 17:51] codnext commented on #1206
Εκτελώ τον κώδικα που επιστρέφει το order code πριν κανω redirect για το checkout και παίρνω το παραπάνω μήνυμα. Δεν λαμβάνω order code..

[2019-11-14 17:54] codnext commented on #1206
Try to run this code to check it:
https://github.com/VivaPayments/API/blob/master/CreateOrder/PHP/create_order.php

[2019-11-14 21:36] Robbiemase opened #1210 "Very slow after Visa Authentification page and No E-mail Notifications"
A couple of days ago Viva wallet was working perfectly but I checked again yesterday and it is now really slow to redirect to the 'thank you’ page, It takes around 20-30 seconds to redirect to this page from the Barclays/Visa authentication pop-up.

The payments are still going through but It now isn’t sending order notification e-mails to the customer or to us.
It was working fine the other day d

[2019-11-14 22:05] Ddcdom opened #1212 "Incorrect order total is passed to Viva payments from Magento 2 store with multiple currencies"
The order total passed to Viva for authorisation from the Magento 2.3 plugin is GrandTotal, not BaseGrandTotal. GrandTotal is the value in the store's display currency, not the store's base currency.

I've created pull request #1211 to fix this issue. Please note these changes are untested.

[2019-11-15 04:56] aiosifelis commented on #1209
Thanks @matthewrgourd  this solution worked for me. I was getting a 401 Unauthorized.
Is changed my PHP code into this
`curl_setopt($session, CURLOPT_HTTPHEADER, array('Authorization: Bearer '.$access_token));`
However after I passed he 401 error, I'm getting a `415 Unsupported Media Type` http error.

HTTP\/1.1 415 Unsupported Media Type\r\nServer: nginx\r\nDate: Fri, 15 Nov 2019 04:55:30 GMT\r\n

[2019-11-15 09:54] TIWD commented on #1135
Hello

We are facing redirection issue on LIVE.  Its not redirecting to our website.

![image_2019_11_15T09_51_28_390Z](https://user-images.githubusercontent.com/56542179/68934039-f346be80-07bb-11ea-9a93-047d02d16006.png)
Thanks
![image_2019_11_15T09_51_28_390Z](https://user-images.githubusercontent.com/56542179/68934063-fe99ea00-07bb-11ea-8cf8-d20d6d2374a7.png)

[2019-11-15 10:08] nicolas8000 commented on #1143
Bonjour Hugo

Pouvez vous préciser ce que l'on doit renseigner dans le code source ?
ex : 1111amazon

c'est comme ça ?

[2019-11-15 10:13] matthewrgourd commented on #1206
Hi @codnext we need to update that code. I will remove reference to it in the documentation for the time being.

[2019-11-15 10:14] codnext commented on #1206
Will you update it soon? If not I should create the php code for it.. Thank you!

[2019-11-15 12:21] matthewrgourd commented on #1210
Hi there, can you let me know what type of integration with Viva Wallet you're using. Is it via one of our [online checkouts](https://developer.vivawallet.com/online-checkouts/) or have you implemented a Viva Wallet [e-commerce plugin](https://developer.vivawallet.com/e-commerce-plugins/)?

[2019-11-15 12:22] matthewrgourd commented on #1209
Hi @aiosifelis Have you tried passing "Content-Type: application/json" in the header?

[2019-11-15 12:26] matthewrgourd commented on #1189
Hi @EuroStreet can you close this issue if no more card problems. Thanks!

[2019-11-15 12:27] matthewrgourd commented on #1168
Hi there, which demo card(s) have you tried and what errors are you receiving?

[2019-11-15 12:27] Robbiemase commented on #1210
Hi Matthew,

I am using woocommerce and I am using the official Viva Wallet plugin. This
is using the redirection method

Basically the main issue is that it doesn't re-direct to a thankyou page
after the visa pop and It doesn't send me e-mail notifications.

The website is medi-cure.co.uk and I have added a product for 1p to test on

Thanks
Robbie

On Fri, Nov 15, 2019 at 12:21 PM matthewrgourd <

[2019-11-15 12:28] matthewrgourd commented on #1162
Hi there, I can't recreate the issue you mention about not being able to create a demo account. Is this still a problem? If not, please close this ticket. Thanks!

[2019-11-15 12:28] Robbiemase commented on #1210
Sorry just a follow up to this.. It does re-direct to a thankyou page but
takes forever to do so. Still not receiving woocommerce notifications, it
was working fine the other day.

Thanks
Robbie

On Fri, Nov 15, 2019 at 12:27 PM Robbie Mason <robbiemason1@gmail.com>
wrote:

--

*Robbie Mason*

Freelance Integrated Designer

+44 (0)7900 193 611
robbie@robbiemason.co.uk
www.robbiemason.co.uk

[2019-11-15 12:33] matthewrgourd commented on #1127
Hi @gabole it appears the sample PHP code is incorrect. We will get it updated but in the meantime here's a request example in cURL:

`curl -X POST https://demo.vivapayments.com/api/orders -H 'Authorization: Bearer ZmJmMWUwOTAtNjVkZS00Yzc1LWI1ODAtZDlkOWJjNDk0YWQyOldEdi1WKw==' -H 'Content-Type: application/json' -d '{
    "Tags": [
        "tag 1",
        "tag 2",
        "tag 3"
    ],
    "Email

[2019-11-15 12:41] matthewrgourd commented on #1196
Hi @smartfits

Apologies for the delayed reply.

I've spoken with our Shopfy plugin developer and apparently the button cannot be translated.

The checkout page matches the settings of your Shopify store. You will have to change the country of the shop to Greece. Then the checkout will open in Greek.

Hope this helps!

[2019-11-15 12:43] #1196 closed

[2019-11-15 12:44] matthewrgourd commented on #1076
Please double-check you've followed our [Shopfy plugin installation guide](https://developer.vivawallet.com/e-commerce-plugins/shopify/) verbatim as most problems are to do with an instruction being missed out.

[2019-11-15 12:46] matthewrgourd commented on #1031
Hi @zionchakraborty please send your Merchant ID to myself at mgourd@vivawallet referencing this GitHub issue and I'll check your account.

[2019-11-15 12:48] matthewrgourd commented on #1071
Hi @Tinakicious the problem (I think) is that you're attempting to use multiple buttons on one page. I'm not sure why you would want to do this. Perhaps you can send through a bit more info. @sdstef If you're experiencing an issue yourself please raise it separately with full details including screenshots.

[2019-11-15 13:22] evandoulas commented on #1162
Please let me re-explain the situation.
1. We have an old demo account where we cannot change password as  the email that created is no longer active.
2. If we go ahead and create a NEW demo account from scratch, we can achieve that. But in this case, we cannot find "public key και source code" which are 2 parameters, that our application is still using in the production mode and so we need to hav

[2019-11-15 14:00] matthewrgourd commented on #1210
Hi @Robbiemase I just need to check, are you using our [official plugin](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/) referenced in the online guide?

[2019-11-15 14:05] matthewrgourd commented on #1162
Hi @evandoulas please create a new demo account, send me the associated Merchant ID (referencing this issue) and I'll make sure those parameters are enabled for you.

[2019-11-15 14:18] Robbiemase commented on #1210
Yes I am using the official plugin

On Fri, Nov 15, 2019 at 2:00 PM matthewrgourd <notifications@github.com>
wrote:

--

*Robbie Mason*

Freelance Integrated Designer

+44 (0)7900 193 611
robbie@robbiemason.co.uk
www.robbiemason.co.uk

[2019-11-15 14:30] matthewrgourd commented on #1206
Hi @codnext, it won't be immediately so I should come up with your own version. Thanks!

[2019-11-15 14:30] #1206 closed

[2019-11-15 15:32] relxuk commented on #1076
I phoned you guys so many times, and you guys didn't help me at all. send
me your website support.
i told you guys what happened many times.

matthewrgourd <notifications@github.com> 于2019年11月15日周五 下午12:44写道：

--
<http://www.myrelax.co>

*General Inquiry*
*www.myrelax.co <http://www.myrelax.co>*
*RELX Authorised **Distributor **| RELX Globalization*

E info@myrelax.co
M +44(0)203751676
Address 4 C

[2019-11-15 15:55] matthewrgourd commented on #1076
Hi @relxuk sorry about that but a 'store not found' error definitely means a problem with the setup, I suggest you try again from the beginning.

[2019-11-15 17:05] Sotiris-k commented on #1195
You should try adding a fail callback to that requestToken Promise. For example.
[code]

[2019-11-15 17:06] Sotiris-k commented on #1195
Also @matthewrgourd I think it would actually be best if you added that fail callback in your dev documentation [here](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#step-4-request-a-charge-token)

[2019-11-15 18:46] MadMikeyB commented on #1135
Seeing the same issue here.

[2019-11-15 18:59] yummyweed opened #1213 "How to translate Native/Pay avec Viva Wallet Checkout"
Hi,

The default language of my website is french.
When customers arrive on the payment page, they arrive on a page in English.
How can my clients automatically arrive on the French payment form?
My integration method is : Redirection/Native Checkout v2
Thank you in advance for your help.

Olivier

[2019-11-15 19:05] cerbere83 commented on #1208
Hello ???

[2019-11-16 00:37] aiosifelis commented on #1209
Yes the content-type header is present in the request. Please let me know if we should continue here or open a new issue.
Thanks for your reply.

[2019-11-17 13:27] ijonts opened #1214 "Integration with other payment gateways"
Can I integrate Viva with any of these gateways?

![image](https://user-images.githubusercontent.com/55828844/69008043-9d565000-094e-11ea-9045-c30b93be47ef.png)
![Screenshot_4](https://user-images.githubusercontent.com/55828844/69008058-bc54e200-094e-11ea-863f-efa178e18b51.png)

[2019-11-18 00:38] MadMikeyB commented on #1135
Sorry to bump - is this a common issue or am I doing something wrong? All URL's set correctly as per docs - just get the same as @TIWD

[2019-11-18 04:00] xiaoyao929 opened #1215 "If transaction is error, how can i get error message"
I have a trade, it's payment order stateId = 0, means "pending" ,  it's transaction status is "E", means "The transaction was not completed because of an error",   two questions
1. why transaction is error but payment order is pending?
2. how can i know the exactly reason or message about this error? i can't find some flag about this error, such as error code or error msg from the response about r

[2019-11-18 05:54] freeskyala opened #1216 "In your doc, default expired time is 300 seconds, but the order we created , ExpirationDate is 125 minutes, why?"
we get order from your getOrder interface (https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Payments/paths/~1orders~1{OrderCode}/get)
the response is :
	"ExpirationDate": "2019-11-16 17:33:15.573",
	"StateId": 1,
we have some question:
1. In your doc, default expired time is 300 seconds, but the order we created , ExpirationDate is 125 minutes, why?

[2019-11-18 11:41] Robbiemase commented on #1210
Hi Matthew,

Do you have any update on this?

It is still really slow after the Visa pop up, taking around 30-40 seconds
to go through to the thankyou page... I am also not receiving email
notifications.

Thanks
Robbie

On Fri, Nov 15, 2019 at 2:18 PM Robbie Mason <robbiemason1@gmail.com> wrote:

--

*Robbie Mason*

Freelance Integrated Designer

+44 (0)7900 193 611
robbie@robbiemason.co.uk
www.ro

[2019-11-18 13:49] rigasp opened #1217 "Submerchant id for VivaPayment for Marketplace"
I would like to understand the fit for Viva Wallet for the **marketplace** solution I have in mind.

We want to enable a marketplace where every submerchant can have his own account and be able to sell some items and then receive payments. We would like the submerchant to be able to input some parameter in our marketplace e.g. a wallet id and then we will enable him to receive payments.

For examp

[2019-11-18 14:54] evandoulas commented on #1162
Merchant ID : 337988205142

From: matthewrgourd [mailto:notifications@github.com]
Sent: Friday, November 15, 2019 4:05 PM
To: VivaPayments/API <API@noreply.github.com>
Cc: Evangelos Vandoulas <evandoulas@newsphone.gr>; Mention <mention@noreply.github.com>
Subject: [Marketing Mail] Re: [VivaPayments/API] προβλημα login στο demo account (#1162)

Hi @evandoulas<https://github.com/evandoulas> please c

[2019-11-18 15:10] alexbk31 commented on #1207
were having same issue with a magento 2.3.3 on a separate website

[2019-11-18 16:11] smartfits commented on #1196
1) The language of my shopify store & shopify checkout is in greek but the vivawaller redirection is still in english
2) I have searched the whole shopify language text to translate the "Credit Card" text but I cannot find it. This text is controlled by the the viva app on top of shopify. They can definitely change it/

[2019-11-19 06:49] pmatsinopoulos opened #1218 "3DS Demo simulate failed response always returns a success"
I am trying develop the unhappy path of authentication failure. While working with my demo account, on the following screen:

<img width="1141" alt="simulate-failied-payments" src="https://user-images.githubusercontent.com/898286/69123137-45802c00-0aa9-11ea-8981-6ebc668d7d52.png">

I select "Fail" and then "Confirm Payment" but what I get back in the `done()` of the `requestToken()` is a `response

[2019-11-19 09:03] kikloo commented on #1119
Hi,

The 3dsecure page is now showing but when I am trying to get the transaction to verify I get transaction not found etc.

---
Checking status for: 4975809731200464
No transactions found. Make sure the order code exists and is created by your account.
---

Can you please check why this is not working ?

Thanks.

[2019-11-19 10:09] matthewrgourd commented on #1119
Hi @kikloo can you send through screenshots of the request / response logs, please?

[2019-11-19 11:17] human-cbd commented on #1174
Hello, the transaction only works in demo mode.

[2019-11-19 11:36] cerbere83 opened #1219 "problem with wordpress at the time of payment."
Hello,
I would like some help to install the vivawallet payment method on Wordpress.
When one arrives at the time of paying I am redirected to a message "404 - File or directory not found. "

can you help me solve the problem if you like?

cordially Loïc.

[2019-11-19 12:24] paulfeakins opened #1220 "Customer Login to Viva Wallet with Redirect Checkout"
If we have used the Redirect Checkout method, is it possible for a customer to pay with a stored card in their account rather than re-enter card details? Or must we use the Simple Checkout method for that?

[2019-11-19 16:23] matthewrgourd commented on #1219
Hi @cerbere83 which e-commerce platform are you using with Wordpress, WooCommerce, WP e-Commerce or Jigoshop? If it's a custom installation, please send through screenshots of any request / response logs you may have.

[2019-11-19 17:48] cerbere83 commented on #1219
![61FF685F-FAA5-40D8-9645-843E7D7EAE0C](https://user-images.githubusercontent.com/57753733/69171706-c1f02a80-0afc-11ea-9817-57bae8458cdd.jpeg)
![8068410C-6062-467F-BCCD-15FF6928C796](https://user-images.githubusercontent.com/57753733/69171707-c1f02a80-0afc-11ea-8a2d-8acdc0179e87.png)
![04460A37-F0DD-4856-91F8-6F9AF461A661](https://user-images.githubusercontent.com/57753733/69171708-c1f02a80-0afc-1

[2019-11-19 19:31] adamianos opened #1221 "Need to change company name in redirect payment page"
Hi
We need to replace the legal company name shown on the redirect method payment page, with the brand name, because we get a lot of questions and abandoned payments.

Can you please tell us how to proceed?

[2019-11-19 19:59] josepaoun opened #1222 "only ACCEPTING EURO CURRENCY"
We are a new merchant online store we have implement VIVA PAYMENTS API on Prestashop. all work well when user pay with Euro based card but if the user has payment card other than EURO (any local currency) it fails on the payment process.

[2019-11-20 09:14] human-cbd commented on #1174
?

[2019-11-20 09:49] matthewrgourd commented on #1210
Hi @Robbiemase sorry for the delayed reply. Could you send your merchant ID to mgourd@vivawallet.com referencing this GitHub issue. I will check your account but regarding the 3DS being slow I'm not sure that's related to our plugin but our plugin developer should be able to confirm. @VivaWalletSupport do you have any ideas why the payment process is held up?

[2019-11-20 09:53] WeedStock opened #1223 "Besoin d'aide pour intégration Viva Wallet sur mon e-shop"
Bonjour à tous,

J'ai besoin de votre aide ! Je dois intégrer Viva Wallet (module de paiement en carte bancaire) à mon e-shop mais je ne sais absolument pas comment faire. Mon site est hébergé chez Wix. Je n'ai aucune notion de codage. Pouvez-vous m'aider ?

J'ai déjà enregistré mon site sur Viva Wallet. Il est approuvé et actif. Je dois maintenant intervenir depuis mon site Wix et c'est là que j'

[2019-11-20 10:00] matthewrgourd commented on #1210
@Robbiemase I've checked your account and merchant notifications are switched on. I take it you've checked your spam folder in case the emails are going there?

[2019-11-20 10:12] matthewrgourd commented on #1219
Hi @cerbere83, thanks for confirming that. Could you also let me know if you're using our official plugin, i.e. you downloaded it from our developer portal [WooCommerce page](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/)?

[2019-11-20 10:19] Robbiemase commented on #1210
Hi Matthew,

No they are not going to my spam folder. It's just unusual as everything
was working fine last week and then all of a sudden it was slow to process
and stopped receiving notification e-mails.

Thanks
Robbie

On Wed, Nov 20, 2019 at 10:00 AM matthewrgourd <notifications@github.com>
wrote:

--

*Robbie Mason*

Freelance Integrated Designer

+44 (0)7900 193 611
robbie@robbiemason.co.uk
w

[2019-11-20 11:01] matthewrgourd commented on #1223
Hi there, I'm afraid we don't currently have available an off-the-shelf plugin for Wix. As regards a custom solution, we can't advise on that apart from directing you to our [developer portal](https://developer.vivawallet.com/) for use as a technical reference. Thanks!

[2019-11-20 11:17] BoostYourDigital commented on #1204
Hello,
Sorry for the delay. SS below:
http://prntscr.com/pziwa6
http://prntscr.com/pziyx2
http://prntscr.com/pzizbd
http://prntscr.com/pzizix
http://prntscr.com/pzizyq
https://www.vivapayments.com/web/newtransaction.aspx?Ref=8485263216748347
I've already specified the source code.
Thanks.

[2019-11-20 11:37] alexbk31 commented on #1207
@matthewrgourd  any one eles having this issue its happening on 2 of my clients website m2.2.6 & m2.3.3

[2019-11-20 11:38] matthewrgourd commented on #1162
Hi @evandoulas I'm afraid that isn't your Merchant ID. Please check [this page](https://developer.vivawallet.com/e-commerce-plugins/merchant-id/) on our developer portal for info on how to find it.

[2019-11-20 12:17] VivaWalletSupport commented on #1204
Could you confirm the problem still exists after specifying the souce code and a successful transaction? If so, please setup the gateway with the demo mode from Viva in order to test.

[2019-11-20 12:25] VivaWalletSupport commented on #1174
As there is no problem in de demo mode, I can exclude that there is a problem with the plugin. Please check your configuration for the live mode, use the avaiable documentation.

[2019-11-20 12:29] VivaWalletSupport commented on #1203
Hello, are you using a different currency for your customers outsided the UK or do you have all orders using GBP?

[2019-11-20 12:32] cerbere83 commented on #1219
Yes and yes .

[2019-11-20 12:32] VivaWalletSupport commented on #1207
Hello, please check if the problem occurs when using a vanilla Magento installation (with checkout customizations).

[2019-11-20 12:33] VivaWalletSupport commented on #1208
Hello, please provide following screenshots:

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the browser's URL in the screenshot).

[2019-11-20 12:34] Joshualtbaker opened #1224 "Webhook not working on the account for our new woocommerce website"
We are trying to add a new Payment app to our account, doing so it's saying we are required to set up a Webhook, this isn't working as it's coming up with invalid domain/dns

[2019-11-20 13:02] varungoswami commented on #1203
Hi Tom,

Thank you for reply, all transaction done in GBP.

Thank you,

Kind regards,

Varun Goswami

Thank you,

Kind regards,

Varun Goswami

CBDVAPE4U Team

￼￼￼

On Wed, Nov 20, 2019 at 12:29 PM +0000, "Tom van der Veer" <notifications@github.com> wrote:

Hello, are you using a different currency for your customers outsided the UK or do you have all orders using GBP?

—
You are receiving this b

[2019-11-20 14:50] matthewrgourd commented on #1219
Hi @VivaWalletSupport can you shed any light? Thanks.

[2019-11-20 15:00] evandoulas commented on #1162
Apologize, and I am resending :
02d4db03-c4d8-48f3-b6b3-b151843cf932

[cid:image001.png@01D59FC3.F4F89AB0]

From: matthewrgourd [mailto:notifications@github.com]
Sent: Wednesday, November 20, 2019 1:39 PM
To: VivaPayments/API <API@noreply.github.com>
Cc: Evangelos Vandoulas <evandoulas@newsphone.gr>; Mention <mention@noreply.github.com>
Subject: [Marketing Mail] Re: [VivaPayments/API] προβλημα log

[2019-11-20 15:11] LeoTravel opened #1225 "backend payment"
i have to try find a solution for integrate vivawallet with an existing system.

i've all my customers credit card stored, we want to create a really clean payment flow, like amazon.

when the customer want to check out, in our backend we have to take the selected cc and pay with that, is it possible?

[2019-11-20 15:19] cerbere83 commented on #1219
@VivaWalletSupport Thanks .

[2019-11-20 16:13] matthewrgourd commented on #1162
Hi @evandoulas can you try again? I've changed some of your settings.

[2019-11-20 16:50] BoostYourDigital commented on #1204
Yes, almost everything ok!

There is one thing left. If, for some reason, the data is incorrect the clients is redirected to the website checkout again. How can I keep him in vivawallet checkout? (here: http://prntscr.com/pzordy)

Thanks!

[2019-11-21 08:10] VivaWalletSupport commented on #1203
Thank you for your reply, in that case I do not see a problem with the plugin, maybe @matthewrgourd can help you further.

[2019-11-21 08:14] VivaWalletSupport commented on #1219
@cerbere83 according the screenshots you are not using the supported plugin, please contact the plugin developer for any support or follow the leads from @matthewrgourd

[2019-11-21 08:17] VivaWalletSupport commented on #1204
This is how the plugin works, so that the customer might try another payment method.

[2019-11-21 08:30] VivaWalletSupport commented on #1210
@matthewrgourd I do not see a problem with the plugin here.

[2019-11-21 08:34] VivaWalletSupport commented on #1212
Thank you for bringing this up. For your situation this modification might work (to always use the stores default currency). In a preferred setup, using various currencies with various Viva accounts, this mod will be a problem.

[2019-11-21 08:38] VivaWalletSupport commented on #1222
At the moment you can only accept payments in the same currency as set in your Viva account.

[2019-11-21 08:45] cerbere83 commented on #1219
@VivaWalletSupport I use the plugin supported.
VivaPayment woocommerce payment gateway

[2019-11-21 09:02] cerbere83 commented on #1219
![image](https://user-images.githubusercontent.com/57753733/69322657-9167d800-0c45-11ea-9fad-e94b85c25499.jpg)

[2019-11-21 09:05] cerbere83 commented on #1219
![image](https://user-images.githubusercontent.com/57753733/69323003-2a96ee80-0c46-11ea-9f46-57c8f6d1232b.jpg)

[2019-11-21 09:05] cerbere83 commented on #1219
@VivaWalletSupport @matthewrgourd
I use the first of two because if I activate the other an error message arrives.

[2019-11-21 09:06] cerbere83 commented on #1219
![image](https://user-images.githubusercontent.com/57753733/69323163-7b0e4c00-0c46-11ea-9d1f-c5509222b153.jpg)

[2019-11-21 09:15] matthewrgourd commented on #1210
Ok @VivaWalletSupport, thanks! Hi @Robbiemase I'm afraid I can't recreate the issue. Please monitor and keep us informed. If necessar I'll raise with our development team.

[2019-11-21 09:17] matthewrgourd commented on #1219
Hi @cerbere83 our plugin developer has confirmed that you're not using our official plugin so unfortunately we can't offer any support. Feel free to remove the one you're using and download the [Viva Wallet ZIP file](https://developer.vivawallet.com/downloads/vivawallet-for-woocommerce.zip), following [these instructions](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/) to install

[2019-11-21 09:17] #1219 closed

[2019-11-21 09:21] #1223 closed

[2019-11-21 10:10] cerbere83 commented on #1219
That work . Thanks so much

[2019-11-21 11:48] matthewrgourd commented on #1031
No reply since September so I'm closing this issue. Please reopen if it's still a problem.

[2019-11-21 11:49] #1071 closed

[2019-11-21 11:49] #1076 closed

[2019-11-21 11:52] varungoswami commented on #1203
Hi @matthewrgourd,
I hope you are well, Could please help me out in this situation, If you require further information please let me know.
Thank you,
Varun Goswami

[2019-11-21 11:52] #1222 closed

[2019-11-21 11:53] #1212 closed

[2019-11-21 11:53] #1210 closed

[2019-11-21 11:54] #1204 closed

[2019-11-21 11:55] #1189 closed

[2019-11-21 12:31] josepaoun commented on #1222
if what you are saying is true then why the same cardholder of a NON EURO
Mastercard can pay no problem directly on my Viva account when i send him a
payment notification via email?

On Thu 21 Nov 2019 at 09:38, Tom van der Veer <notifications@github.com>
wrote:

[2019-11-21 12:54] johnpaizis opened #1226 "nativecheckout/v2/transactions"
In demo all ok, but in real account I get the
{"status":405,"message":"Action blocked due to security policy","eventId":"0"}

What is the problem?

[2019-11-21 12:57] matthewrgourd commented on #1195
@Sotiris-k thank you!

[2019-11-21 12:57] #1195 closed

[2019-11-21 13:07] matthewrgourd commented on #1214
Hi @ijonts not all of these are payment gateways. In general, the way our proposition works is if you integrate with an e-commerce platform using one of our pre-written [plugins](https://developer.vivawallet.com/e-commerce-plugins/). Alternatively, you may wish to create a custom solution using our [Native Checkout](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/) or [Payment

[2019-11-21 13:07] #1214 closed

[2019-11-21 13:08] LeoTravel commented on #1225
any news about?

[2019-11-21 13:25] OptimalFurion opened #1227 "Viva Payments "No order placed after payment""
Hello Can Someone Please Help

Open Cart Version 2.1.0.2

I have an issue on my website with the vivapayments module. Attached you will find the .jpg file which is completed with the proper parameteres. When the client chooses to pay with credit/debit card and it redirects to the native checkout of Vivawallet the charge is done but the order is not placed. As a result we see the payments but we ca

[2019-11-21 13:25] matthewrgourd commented on #1203
Hi @varungoswami sorry to hear you've been experiencing issues. Could you please send your Merchant ID to mgourd@vivawallet.com referencing this issue?

[2019-11-21 13:54] matthewrgourd commented on #1226
Hi there, sorry to hear that. Please email mgourd@vivawallet.com with your Merchant ID referencing this issue and I'll look into it.

[2019-11-21 13:57] Ddcdom opened #1228 "Incorrect order total is passed to Viva payments from Magento 2 store with multiple currencies"
I opened issue https://github.com/VivaPayments/API/issues/1212 and provided a fix in pull request https://github.com/VivaPayments/API/pull/1211, but the issue has been closed, incorrectly in my opinion.

The problem is in file Plugins/magento/magento23_vivawallet/Ced/VivaPayments/Model/PaymentMethods.php

On lines 91 and 92 the order total is obtained using the` $order->getGrandTotal()` method. Th

[2019-11-21 14:09] adamstacey opened #1229 "Issue Switching from Demo Environment to Production Environment"
Hello,

We’re in the middle of switching from the demo environment to production and we’re bumping into an issue we haven’t had on any previous Viva integrations.

We’re using Simple Checkout and our call to https://www.vivapayments.com/api/cards?key=OUR_PUBLIC_KEY fails with:

We’re posting the following as we have with others in the past:

[code]
We’ve spoken to our account manager and they’ve s

[2019-11-21 14:19] matthewrgourd commented on #1226
Hi there, I've changed one of your settings, can you try again?

[2019-11-21 14:21] matthewrgourd commented on #1229
Hi there, sorry to hear this, please send your Merchant ID to mgourd@vivawallet.com referencing this issue. I'll then investigate for you.

[2019-11-21 14:41] johnpaizis commented on #1226
Nothing changed, exactly the same message!

Παραθέτοντας από matthewrgourd <notifications@github.com>:

[2019-11-21 14:56] matthewrgourd commented on #1227
Hi there, sorry to hear that. I don't see a jpg. Can you reattach?

[2019-11-21 14:57] OptimalFurion commented on #1227
Thank you i have re attached.

[2019-11-21 14:58] matthewrgourd commented on #1228
Hi @Ddcdom, sorry for closing your previous issue but our plugin developer has replied implying that the code changes wouldn't necessarily be appropriate. @VivaWalletSupport can you confirm that you do not wish to proceed with the merge?

[2019-11-21 15:00] matthewrgourd commented on #1229
Hi @adamstacey thanks for sending through your Merchant ID. I've adjusted one of your settings. Can you try again for me?

[2019-11-21 15:09] matthewrgourd commented on #1220
Hi there, I'm finding out for you. Thanks!

[2019-11-21 15:11] VivaWalletSupport commented on #1227
Hello, you did not specify the source code in the extension settings, please follow the instructions to the letter https://developer.vivawallet.com/e-commerce-plugins/opencart2-2.2/

[2019-11-21 15:12] #1227 closed

[2019-11-21 15:26] Ddcdom commented on #1228
@matthewrgourd I think your plugin developer is mistaken in their understanding of M2's display currency.

Please can you ask your developer to read through the issue above. If there are any questions, then please can you ask them to raise them here and let me respond before closing the ticket.

[2019-11-21 15:26] adamstacey commented on #1229
Hi @matthewrgourd, that is now working. Thanks for sorting that so quickly for us.

[2019-11-21 15:26] #1229 closed

[2019-11-21 15:48] matthewrgourd commented on #1228
Hi @VivaWalletSupport, when you have a spare moment, please provide further feedback regarding the suggested merge.

[2019-11-21 15:52] matthewrgourd commented on #1225
@LeoTravel sounds like you want to store customer credit card information, is that correct?

[2019-11-21 15:53] matthewrgourd commented on #1224
Hi there, are you using the [official plugin for WooCommerce](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/)? The instructions and download are available here:   Please check this first and get back to me if you're still experiencing issues.

[2019-11-21 16:07] matthewrgourd commented on #1221
Hi @adamianos please email your Merchant ID to mgourd@vivawallet.com together with the brand name which should be shown instead of the legal company name. Thanks!

[2019-11-21 16:08] matthewrgourd commented on #1218
Hi @pmatsinopoulos I'm not sure what's going on here. @dpnevmatikos would you be able to help?

[2019-11-21 16:14] matthewrgourd commented on #1217
Hi @rigasp what you describe sounds like a highly customised solution which I'm afraid we wouldn't be able to advise on. Our supported solutions for e-commerce are documented in our [developer portal](https://developer.vivawallet.com/). Anything beyond that is necessarily out of scope.

[2019-11-21 16:14] #1217 closed

[2019-11-21 16:23] pmatsinopoulos commented on #1218
I have continue working on that, and it seems that the error is taken into account AFTER we try to use the charge token returned in the `Fail` case. Otherwise, both `Success` and `Fail` return a charge token, normally. But the `Fail` case will not allow to later on use it create a transaction. So, I am ok for now. Maybe it is good to be added to the documentation.

[2019-11-21 16:27] LeoTravel commented on #1225
yes, we have already stored that info, could we use that info for pay? we don't wanna have the customer that write his cc everytime

[2019-11-22 03:54] aiosifelis commented on #1209
@matthewrgourd my issue with the `415` HTTP error was resolved. For some reason I had the configuration for http headers twice in my code and the `Content-Type: application/json` was not being sent.(as you suggested).
Thank you.

[2019-11-22 08:36] safwen1 opened #1230 "Demo account"
Hello we need a demo account.
Our production merchant ID = 5fafcd59-4060-4764-bb47-0bf3b15b02b9

Thank you

[2019-11-22 08:44] safwen1 opened #1231 "Error : unsupported_grant_type"
When requesting an access token on the production API, we get an error:

![Screenshot from 2019-11-22 09-38-43](https://user-images.githubusercontent.com/13918596/69410996-6bf1d180-0d0c-11ea-8839-da58193deae8.png)

And I know that the Authorization header is correct because if I change client secret to a wrong one, the error changes to "invalid_client"

[2019-11-22 08:50] johnpaizis commented on #1226
Still have a problem, can you help?

[2019-11-22 09:24] #1209 closed

[2019-11-22 10:17] matthewrgourd commented on #1220
Hi @paulfeakins do you mean accept a payment from a stored account on Viva Wallet or a card payment on your (customer's) platform? If you wish to implement recurring card payments (save card at checkout), simply set optional `AllowRecurring` parameter during [Create payment order](https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Payments/paths/~1orders/post) call. This will ma

[2019-11-22 10:43] matthewrgourd commented on #1230
Hi there, you need to sign up for one here: https://demo.vivapayments.com/

[2019-11-22 11:15] paulfeakins commented on #1220
Thanks for the reply @matthewrgourd. But not quite what I mean. Imagine a customer already has a Viva Wallet account with a stored card or credit. When they use the integration we have developed they get to the Viva screen where they can enter a card ... but there is nowhere for them to login to Viva and use a card they may have stored previously. Does that make more sense?

[2019-11-22 11:43] safwen1 commented on #1230
Hello @matthewrgourd , we have already tried that :

![Screenshot from 2019-11-22 12-41-09](https://user-images.githubusercontent.com/13918596/69423071-84bab100-0d25-11ea-8282-408f92b14c9c.png)

And here is the result :

![Screenshot from 2019-11-22 12-41-31](https://user-images.githubusercontent.com/13918596/69423135-a0be5280-0d25-11ea-9e7b-c9e6d76e94fe.png)

[2019-11-22 12:10] matthewrgourd commented on #1231
Hi there @safwen1 sorry to hear you're experiencing problems. In Postman the easiest (and recommended) way to do this is follow the offical [OAuth2 instructions](https://learning.getpostman.com/docs/postman/sending-api-requests/authorization/#oauth-20). After following these myself, here are some screenshots to give you an idea of the expected result.

![Get new access token](https://user-images.g

[2019-11-22 12:19] matthewrgourd commented on #1220
Hi Paul, I'm afraid for this method to work you'd need to use [Simple Checkout](https://developer.vivawallet.com/online-checkouts/simple-checkout/) if your account is not Greek. This is because we have disabled it on Redirect checkout for customers based outside Greece where our company originates.

[2019-11-22 12:34] adrianblynch commented on #761
Hi @matthewrgourd - Can I take from this that refunds can't be issued until after 2am the next day?

What timezone is that?

Thanks.

[2019-11-22 13:54] Afrodith commented on #1195
Ok, Thank you for your answer and information! i'm going to try to resolve my issue this way.

[2019-11-22 14:06] #1220 closed

[2019-11-22 14:26] matthewrgourd commented on #1230
Hi @safwen1 sorry for this, we are looking into as a potential bug. I'll update you once we have a solution. Unfortunately until then we can't provide you with a demo account.

[2019-11-22 14:52] paulfeakins commented on #1220
Thanks that does answer the question.

[2019-11-22 15:14] safwen1 commented on #1231
@matthewrgourd thank you for responding. We have successfully retrieved the access token.

Now we are trying to create a transaction using a VivaWalletToken.

So we created a call like this :
![Screenshot from 2019-11-22 16-09-14](https://user-images.githubusercontent.com/13918596/69436880-86df3880-0d42-11ea-8351-2695502450e8.png)

and a body like this :
![Screenshot from 2019-11-22 16-09-30](http

[2019-11-22 16:27] petvar opened #1233 "merchant error or API is not working"
After placing order in woocommerce store with viva plugin appears the message merchant error or API is not working and customer is not redirecting to fill out the card details and complete the order

[2019-11-22 17:00] matthewrgourd commented on #1225
Hi @LeoTravel I'm afraid it wouldn't be possible to re-use previously stored credit card information unless it has been entered into Viva Wallet systems already by customers via our payment gateway.

[2019-11-22 17:12] matthewrgourd commented on #1225
Hi @LeoTravel correct: I'm told by one of our technical team that you can in fact do this although it requires some manual processes at this end. What you'd need to do in the first instance is contact your existing provider mentioning that you want to move to us and that we are PCI compliant. An example would be if you currently use Stripe and wish to move to Viva Wallet, you first need to approac

[2019-11-23 06:14] VivaWalletSupport commented on #1233
Hello, in case the plugin and instructions are used from https://developer.vivawallet.com/e-commerce-plugins/woocommerce/ please provide following screenshots:

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, inc

[2019-11-23 08:08] petvar commented on #1233
No, the plugin that i used is Viva Payments - Viva Wallet WooCommerce Payment Gateway.
I will follow your instructions and i will reply again.

Thank you

[2019-11-23 10:18] LeoTravel commented on #1225
Ok that could be really awesome for us, could you provide the api calls about?
We have the credit card number in clear, but in secure api with our flight provider. So is possible in backend create the token card and pay with it? Could you provide the api calls about? sorry but I haven’t understand if we could do that without the customer have to write the number, with just backend code

Anyway cou

[2019-11-23 16:06] rajdeeporbsys opened #1234 "Integrating viva wallet with ecwid"
Hello,

Am trying to integrate viva wallet with wordpress ecwid plugin. Am getting all the essential parameters from ecwid checkout (payment url) page, But couldnot able to integrate with viva wallet as it not even working with native checkout using postman. Please help me out in this

[2019-11-23 18:38] viclec commented on #1092
Is it possible to create recurring transactions with simple checkout?

[2019-11-24 12:46] safwen1 commented on #1231
@matthewrgourd Hello again, we have tested a real credit card and received the same response. What's wrong with our request?

Request info:
Headers : Authorization : Bearer [the access token received in the previous request]
JSON Data : {'PaymentToken': [the token received from the simple checkout form]}

[2019-11-25 08:07] Reaper1994 opened #1235 ""Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.vivapayments.com/api/cards?key=PykZU8**********************D"
Hi im using native checkout v2 version  (everything seems to be working fine but when I'm using the live credentials) I'm getting the following error

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.vivapayments.com/api/cards?key=Pyk************Cg%3D

I have added the correct domain in the dashboard still getting this error while using the

[2019-11-25 09:57] matthewrgourd commented on #761
Hi @adrianblynch it's Greek time as that's where our platform is based. So you we could say midnight GMT but it could be earlier or later depending on a number of factors. Hope that helps!

[2019-11-25 10:02] matthewrgourd commented on #1225
Hi @LeoTravel I'm not sure what you mean exactly. I have already given quite a full answer. Let me know if I've made any incorrect assumptions and I'll reply again. To start, perhaps you could confirm the name of your existing payment provider? Thanks.

[2019-11-25 10:05] matthewrgourd commented on #1092
@viclec No, you would need to use Redirect Checkout. Please see the following answer: https://www.nopservices.com/contactus

[2019-11-25 10:21] matthewrgourd commented on #1231
Hi @safwen1 once you have generated the charge token, subsequent API calls use basic authentication based on your [Merchant ID and API Key](https://developer.vivawallet.com/e-commerce-plugins/find-your-merchant-id-and-api-key/). So when you attempt to create the transaction do not use the earlier generated bearer token.

I.e.
Output from Postman (1)
![Screenshot 2019-11-25 at 10 18 42](https://use

[2019-11-25 10:37] matthewrgourd commented on #1234
Hi there @rajdeeporbsys, sorry you're having problems. Please can you sent through request / response screenshots from Postman with confidential information blurred out.

[2019-11-25 10:55] matthewrgourd commented on #1235
Hi there, sorry to hear you've been experiencing difficulties. If possible, could you send through requests / responses for you working demo instance? That way I can hopefully see where you're going wrong in the live environment.

[2019-11-25 11:20] Reaper1994 commented on #1235
yes but why is cors failing when i use the live URL
im getting the below error in the console  on chrome

Access to XMLHttpRequest at 'https://api.vivapayments.com/api/cards?key=PykZU8D3***********3D' from origin 'https://*****' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

I have tried setting all the headers st

[2019-11-25 11:24] rajdeeporbsys commented on #1234
Hello,

PFA

[image: image.png]

On Mon, Nov 25, 2019 at 4:07 PM matthewrgourd <notifications@github.com>
wrote:

--

Regards,
*Rajdeep Singh*

[2019-11-25 11:27] matthewrgourd commented on #1235
Hi there, you could try in Firefox instead. Alternatively, have a look at this Medium post: https://medium.com/@siddhartha.ng/disable-cross-origin-on-chrome-for-localhost-c644b131db19

[2019-11-25 11:46] Reaper1994 commented on #1235
yes tried it in Firefox as well this is what I get

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.vivapayments.com/api/cards?key=PykZU8D3rN5f2GiOuPqCPJSn7YgFX5ahOdRd%2BWsCdCg%3D. (Reason: CORS request did not succeed)

[2019-11-25 12:16] safwen1 commented on #1231
Hello @matthewrgourd , If I understand you correctly, we don't need to generate an access token if we are using the simple checkout.

We have changed the charge request to use Basic Auth with Merchant ID and API private key.

Request is 200 Ok but response contains this message :
'The specified api action is disabled for the merchant 5fafcd59-4060-4764-bb47-0bf3b15b02b9, please consult the documen

[2019-11-25 12:16] steilx opened #1236 "Demo vivawallet merchant account signin error"
https://demo.vivapayments.com/en/signin
After trying to login I always get the following error:

Server Error in '/' Application.
The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters.
Description: An unhandled exception occurred during the execution of the current web request. Please r

[2019-11-25 13:20] LeoTravel commented on #1225
Could we talk via email?

[2019-11-25 13:33] rajdeeporbsys commented on #1234
Hello,

Now demo account is integrated but its having some issue,
If see below the cart amount is 542.50 euro
![image](https://user-images.githubusercontent.com/58114520/69544153-24da3980-0fb5-11ea-8457-b48afc43e018.png)

but when i proceed further vivawallet is picking some less amount.
And even test card credentials are showing error i.e. "The card entered does not support instalments"
![image](

[2019-11-25 13:56] matthewrgourd commented on #1236
Hi @steilx thanks for raising this. I'm getting one of our developers to look into it. I'll let you know when there's an update.

[2019-11-25 14:13] matthewrgourd commented on #1235
Hi there can you send through some screenshots of the request / response logs if possible? How are you making the calls?

[2019-11-25 14:21] matthewrgourd commented on #1231
Hi @safwen1 yes, that's right.

I've changed one of your account settings in an attempt to prevent the error. Can you try again?

[2019-11-25 14:26] matthewrgourd commented on #1226
Hi @johnpaizis I've changed another of your settings, can you try again?

[2019-11-25 14:27] matthewrgourd commented on #1225
Hi @LeoTravel feel free to myself on mgourd@vivawallet.com

[2019-11-25 14:50] matthewrgourd commented on #1236
Hi @steilx I've got a reply back and apparently this is an intermittent fault with the demo platform. You should clear your browser cache and cookies if this continues to be a problem. Or try clicking on the back button and relogging in. Thanks!

[2019-11-25 14:50] #1236 closed

[2019-11-25 15:05] matthewrgourd commented on #1218
Hi @pmatsinopoulos thanks for the update. I will make a note about the documentation update.

[2019-11-25 15:05] #1218 closed

[2019-11-25 15:21] #1031 closed

[2019-11-25 15:43] matthewrgourd commented on #1085
Hi @beisnikosspi I think @odysseas12 has answered your queries so I'm closing this now. Regarding the removal of `cardTokenHandler`, yes, that's correct, because `requestToken` uses a Promise to return the chargeToken’s value.

[2019-11-25 15:43] #1085 closed

[2019-11-25 16:09] safwen1 commented on #1231
Thank you @matthewrgourd you have solved the problem.
We will now wait for the demo account problem to be resolved.

[2019-11-25 16:27] #1231 closed

[2019-11-25 16:36] #1127 closed

[2019-11-25 16:40] #1143 closed

[2019-11-25 16:40] #1162 closed

[2019-11-25 16:44] matthewrgourd commented on #1166
Hi @Alvaroalconada please assure your customers that all payments through the Viva Wallet platform are safe and secure. We are a licenced e-money institution authorised by the Financial Conduct Authority. Thanks!

[2019-11-25 16:44] #1166 closed

[2019-11-26 04:53] Reaper1994 commented on #1235
hi I'm using javascript to make the calls
attached below is the error screenshot

![cors error](https://user-images.githubusercontent.com/23649642/69600467-b8a01a00-1036-11ea-980e-5ce3da04ff55.png)

[2019-11-26 10:31] matthewrgourd commented on #1215
Hi @xiaoyao929 there is a page on the developer portal with some of the info you require: https://developer.vivawallet.com/api-reference-guide/payment-api/transaction-parameters/ . However, I see that you need more detail. I will flag that as something we should look at.

[2019-11-26 10:31] #1215 closed

[2019-11-26 10:39] steilx commented on #1236
Hi @matthewrgourd, thanks for the prompt response.
But it seems that the issue persists and it's irrelevant to the browser cache/cookies etc, I keep getting the above error after I login to https://demo.vivapayments.com/en/signin

[2019-11-26 12:31] Reaper1994 commented on #1197
hi
I tried implementing the native checkout in  PHP https://github.com/VivaPayments/API/blob/master/NativeCheckout/PHP/web/index.php

everything works while using the  demo account but when I use the live account I get following error in the console
![asdsds](https://user-images.githubusercontent.com/23649642/69633677-b493ec80-1076-11ea-88bc-882e0c7a0236.png)

[2019-11-26 12:41] NTRXIT opened #1237 "Magento 1.9.3 order status not updating"
Hello, I'm using the plugin from the repository on a Magento 1.9.3 setup. Everything works pretty well except for the order status update. Initially, when an order is created I have set it to have a status pending, this is fine. But when the transaction is successful the order status does not update to Processing as it is supposed to. This is quite a big issue. Can you help, please?

Thank you in

[2019-11-26 12:53] VivaWalletSupport commented on #1237
Hello, please send a screenshot of the extensions settings, mask the API Key.

[2019-11-26 13:01] NTRXIT commented on #1237
![image](https://user-images.githubusercontent.com/58218003/69635677-9ec5fd80-105d-11ea-8dd3-1270aa0c65ae.png)

here you are. thank you

[2019-11-26 13:10] VivaWalletSupport commented on #1237
Could you also include a screenshot of the payment source settings?

[2019-11-26 13:15] NTRXIT commented on #1237
Sure

![image](https://user-images.githubusercontent.com/58218003/69636552-85be4c00-105f-11ea-8776-f19875ad6978.png)

[2019-11-26 13:21] VivaWalletSupport commented on #1237
Please correct the success / fail URLs as instructed at https://developer.vivawallet.com/e-commerce-plugins/magento1.x/

[2019-11-26 13:23] NTRXIT commented on #1237
Is this the issue? I was wondering how I can track the goals in analytics if I have the guide URLs.

[2019-11-26 13:28] VivaWalletSupport commented on #1237
This seems to be the solution for the posted issue.

[2019-11-26 13:30] NTRXIT commented on #1237
OK thank you. It works for a canceled order. Any way I could test a successful transaction without using an actual card? Thanks a lot for your support.

[2019-11-26 13:53] adrianblynch opened #1238 "Custom logo in demo 3DS form"
We're updating from native v1 to v2 and during development we're seeing the Viva logo on the 3DS form:
<img width="504" alt="viva-logo-3ds" src="https://user-images.githubusercontent.com/4160967/69639149-f1022100-1053-11ea-8297-2d1721f09fda.png">

We have changed the logo for the source we're using, here:
<img width="581" alt="source-logo-clear" src="https://user-images.githubusercontent.com/41609

[2019-11-26 13:55] adrianblynch opened #1239 "Merchant missing from 3DS form on demo"
Is there a way to supply data for the Merchant field on this form:
<img width="504" alt="viva-logo-3ds" src="https://user-images.githubusercontent.com/4160967/69639507-8998a100-1054-11ea-9453-d8699e35a1da.png">

This is on the test form but I guess the question applied to production when we get there too.

[2019-11-26 14:03] matthewrgourd commented on #1197
Hi there, can you send me your Merchant ID referencing this issue? My email is mgourd@vivawallet.com

[2019-11-26 14:07] VivaWalletSupport commented on #1237
You could setup the extension to work with the demo environment and use the test card.

[2019-11-26 14:17] Stratubas opened #1240 "nativecheckout/v2/transactions using preauth fails with 502"
Hello!

In the "demo" environment using Postman, nativecheckout/v2/transactions works (returns an object containing a "transactionId") only if "preauth" is set to "false" in the request.

Setting "preauth" to "true" returns the following:

[code]

In the documentation (https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#create-transaction) there are no explicit instructions on re

[2019-11-26 14:50] matthewrgourd commented on #1197
@Reaper1994 Have you got a production account? I can't find you on our system. Please send through your Merchant ID once you've set up a live instance...

[2019-11-26 17:57] johnpaizis commented on #1226
ok, fixed. what was the problem?

[2019-11-27 08:43] Stratubas commented on #1240
I was using these instructions (https://developer.vivawallet.com/api-reference-guide/payment-api/card-tokenization/#step-1-generate-charge-token-using-card-details) to create charge tokens.

After following these instructions instead (https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#create-a-charge-token) and requesting a "preauth", the demo environment dashboard crashes:

[br

[2019-11-27 08:56] matthewrgourd commented on #1226
I had to enable Native Checkout for you!

[2019-11-27 08:56] #1226 closed

[2019-11-27 08:59] matthewrgourd commented on #1235
Hi @Reaper1994 this is a coding issue. I'm seeing if one of our developers can help, but as far as I can tell there's no problem at the Viva Wallet end.

[2019-11-27 09:01] #1237 closed

[2019-11-27 09:02] matthewrgourd commented on #1238
Hi there, this is just to emulate 3DS during testing. It is different in production.

[2019-11-27 09:02] #1238 closed

[2019-11-27 09:03] matthewrgourd commented on #1239
Hi there, this is just to emulate 3DS during testing. It is different in production.

[2019-11-27 09:03] #1239 closed

[2019-11-27 09:05] matthewrgourd commented on #1240
Unfortunately there are known issues with the demo environment that occur intermittently. Please try again from the beginning of the process and let me know if the problem recurrs.

[2019-11-27 09:32] Stratubas commented on #1240
@matthewrgourd The steps seem to be working. However, the v2 charge token generation requires a specified "amount". What is that amount? Is it somehow related to preauth? The nativecheckout/v2/transactions request works even if its "amount" is greater than that specified during charge token generation. With https://demo.vivapayments.com/selfcare/el/sales/mysales crashing it's not easy to see what

[2019-11-27 09:46] gzafolias opened #1241 "API/CreateOrder/ASP.NET/CSharp.aspx.cs update to supportTLS1.2 security protocol"
Hi,
In order for the code at API/CreateOrder/ASP.NET/CSharp.aspx.cs to work you need to add the following extra line immediately before line 40 where the RestSharp object is initialized:
`
System.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`

Regards,
George

[2019-11-27 11:11] Reaper1994 commented on #1197
yes  have got a production account

[2019-11-27 11:11] Reaper1994 commented on #1197
@mathewground yes i have a production account

[2019-11-27 11:18] matthewrgourd commented on #1197
Should work now!

[2019-11-27 11:29] Barnaby-Clifton opened #1242 "Integration"
Hi, I am having trouble integrating vivawallet into my website. please assist.

greendragonstores.co.uk

[2019-11-27 11:32] Reaper1994 commented on #1197
@matthewrgourd
may I know why it was not working earlier?

also, I get this message now

Sorry, your Order Failed due to Source Default of merchant 476***********
does not support native checkout

do I have o enable anything in the dashboard?

![image006](https://user-images.githubusercontent.com/23649642/69719957-9641f580-1137-11ea-9727-63b305a5c1f9.jpg)
e75

[2019-11-27 11:36] matthewrgourd commented on #1197
@Reaper1994 Ok, sorry, I've reverted. The integration method in the above screenshot should be 'Redirection/Native Checkout v2'.

[2019-11-27 11:40] MadMikeyB commented on #1135
Any update ???

[2019-11-27 12:05] Alvaroalconada opened #1243 "Virtual payment"
Hi team! this morning, customer "Latin Travel" asking me about these questions, can you help me?:

1 - When a payment is made it is completely necessary that these are preauthorized, ("Capture" in the image) because the core of the business so requires, however much I try to send the parameter "IsPreAuth = true or IsPreAuth = false" is not it obtains no different result in practice. The problem at

[2019-11-27 12:08] matthewrgourd commented on #1135
@MadMikeyB Could you raise a new issue with screenshots? Blur out any confidential information. We need to be able to log each problem separately, even if they're related. Thanks!

[2019-11-27 12:15] matthewrgourd commented on #1135
Hi @TIWD, sorry for the delayed reply. Could you let me know where you got the success failure URLs from when [setting up the payment source](https://developer.vivawallet.com/e-commerce-plugins/create-a-payment-source/)? I don't recognise them...

[2019-11-27 13:33] puppinoo commented on #1197
Hi,
I temporarely switched to development of Card tokenization so I let on hold the Simple Checkout dev. Now I need to resume it but I'm still receiveing this "The specified api action is disabled for the merchant 26cac0d8-4f15-4f40-b0a7-c8cf56bf7b9e" in Demo environment when I try to execute this url: "https://demo.vivapayments.com/api/transactions" with this paramenter "PaymentToken", vivaWallet

[2019-11-27 15:04] adrianblynch commented on #1239
Thanks @matthewrgourd

What value appears in _Merchant:_ field or is there no such field on the card acquirer's 3DS form?

[2019-11-27 16:00] puppinoo commented on #1197
this is one of my attempts. Always returns
{"Emv":null,"Amount":null,"StatusId":"E","CurrencyCode":null,"TransactionId":null,"ReferenceNumber":null,"AuthorizationId":null,"RetrievalReferenceNumber":null,"ThreeDSecureStatusId":null,"ErrorCode":403,"ErrorText":"The specified api action is disabled for the merchant 26cac0d8-4f15-4f40-b0a7-c8cf56bf7b9e, please consult the documentation","TimeStamp":"2

[2019-11-27 16:07] matthewrgourd commented on #1234
Hi @rajdeeporbsys , feedback just received from our development team is that you need to specify the amount in the currency's smallest unit of measurement. So in your case, above, amount passed should be '54250' rather than '542.50'. Hope this helps!

[2019-11-27 16:09] matthewrgourd commented on #1230
Hi @safwen1, feedback just received from our development team is that the problem is now fixed. Please try again and let me know how you get on!

[2019-11-27 16:12] matthewrgourd commented on #1125
Hi @devnullsolutions @xiaoyao929, developer feedback is that relevant documentation is here: https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Transactions/paths/~1api~1transactions~1{Id}/get . If this doesn't answer your queries please raise individually – with further info if possible!

[2019-11-27 16:12] #1125 closed

[2019-11-27 16:25] matthewrgourd commented on #1119
Hi @kikloo feedback from development team is that you have to create a transaction with the order code in order to retrieve the transaction. The relevant section of the documentation is:

https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#step-5-make-the-actual-charge

Thanks!

[2019-11-27 16:28] matthewrgourd commented on #1086
Hi @jkatsiotis our development team has got back to me and apparently the issue should be fixed now. Thanks!

[2019-11-27 16:31] matthewrgourd commented on #1078
Hi there, feedback from our development team is that If you want to create a PreAuth transaction you must pass property `IsPreAuth=true` and `PaymentMethod=1`(PreauthCapture) on create transaction endpoint: https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#step-5-make-the-actual-charge Hope this helps!

[2019-11-27 16:31] #1078 closed

[2019-11-27 16:46] matthewrgourd commented on #1197
Hi @puppinoo I've changed one of your settings. Can you see if that makes any difference?

[2019-11-27 17:20] puppinoo commented on #1197
It worked! Thanks a lot.
Now can you tell me what kind of token is this? Is this a charge_token? If not can I use it to obtain a charge_token so I can use simple checkout to create recurring transaction connected to an existing OrderCode?

Thanks again.

[2019-11-27 17:46] safwen1 commented on #1230
Hello @matthewrgourd , we have successfully created a demo account.
Can you please allow the transactions endpoint for our merchant ID b5ca6922-069b-4008-988e-f7929347637c , like you did for our production account.
Thank you.

[2019-11-27 19:38] rajdeeporbsys commented on #1234
Hello,

Now if you check i have added demo france account and now the currency is same but on confirming charge transaction is declined.

[2019-11-27 23:37] MadMikeyB opened #1244 "Redirect Issue"
As per #1135

I've set up the Redirect Checkout, I get sent to Viva Wallet, the payment processes, and then bam, no redirect.

![live](https://user-images.githubusercontent.com/831828/69766209-cbb60580-116e-11ea-9a08-6a3197bbf43a.png)

I've been asked to add a new issue even though #1135 explains it adequately, and surely the redirect link doesn't matter if I'm never redirected to Viva Wallet. 🤷‍♂

[2019-11-27 23:39] MadMikeyB commented on #1244
I am not using WooCommerce. I am using Laravel and [this](https://github.com/sebdesign/laravel-viva-payments)

[2019-11-28 04:35] Reaper1994 commented on #1197
hi I have changed it to Redirection/Native Checkout v2 still getting the same response

[2019-11-28 04:57] Reaper1994 commented on #1235
Hi @matthewrgourd   that seems a bit strange, it works when I use the demo credentials but when I use the live credentials I get the above message.

do I need to whitelist my IP or something while using the production account?

Thanks

[2019-11-28 08:59] matthewrgourd commented on #1230
@safwen1 Done!

[2019-11-28 08:59] #1230 closed

[2019-11-28 09:30] matthewrgourd commented on #1244
Hi @MadMikeyB I'm afraid we don't support the package you mention (it's unofficial) so I won't be able to help any further. However, you could try raising an issue here: https://github.com/sebdesign/laravel-viva-payments/issues

[2019-11-28 09:33] matthewrgourd commented on #1242
Hi @Barnaby-Clifton have you checked our [developer portal](https://developer.vivawallet.com/)? If so, which section are you looking at. What exactly is the problem? If possible, can you send through any request / response logs? (with confidential information blurred out).

[2019-11-28 09:35] matthewrgourd commented on #1243
Hi @Alvaroalconada I'm raising with one of our developers. I'll let you know when I've an outcome. Thanks!

[2019-11-28 09:47] matthewrgourd commented on #1235
Hi there, one of our developers has got back to me and mentioned that you need to consult the documentation for [Native Checkout v2](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/). At the moment it looks as though you've been using the Native Checkout v1 instructions. Hope this helps.

[2019-11-28 09:50] #1119 closed

[2019-11-28 09:50] #1086 closed

[2019-11-28 09:51] Barnaby-Clifton commented on #1242
I found the simple error! I put the URL suffix incorrectly. How long until
the changes will be approved? I'd like to run a sale tomorrow.

On Thu, 28 Nov 2019 at 09:33, matthewrgourd <notifications@github.com>
wrote:

[2019-11-28 10:15] Reaper1994 commented on #1197
I see that I'm facing the same issue as this https://github.com/VivaPayments/API/issues/1229#issue-526618148

Could we get help on figuring out the issue?

Thanks

[2019-11-28 10:23] MadMikeyB commented on #1244
@matthewrgourd

But it's not the package? I get sent to Viva Wallet and I am not redirected back to my website. *how* is that an issue with the package?

[2019-11-28 10:32] Alvaroalconada commented on #1243
Hi @matthewrgourd, thanks mate, I keep waiting!

[2019-11-28 10:43] matthewrgourd commented on #1216
Hi @freeskyala sorry to hear you've been experiencing issues. In order to investigate further, our ev team needs a bit more info. If possible, would you be able to send through the `CorrelationId`? Thanks!

[2019-11-28 10:45] matthewrgourd commented on #1197
Hi @Reaper1994 I'm sorry, I don't know what the issue is, I will raise with our development team.

[2019-11-28 10:48] matthewrgourd commented on #1244
@MadMikeyB I imagine that the instructions to accompany the package may reference our-of-date documentation.

[2019-11-28 11:23] TIWD commented on #1135
We have setup success and failed url as per https://developer.vivawallet.com/e-commerce-plugins/create-a-payment-source/

But its not redirecting after success. We have setup in LIVE mode.

[2019-11-28 12:13] rajdeeporbsys commented on #1234
Also if you see properly in screenshots the amount passed from site was '54250' but moving further it adds decimal on transaction page i.e.  '542.50'. Please check for this also

[2019-11-28 12:34] dpnevmatikos commented on #1135
Hi @TIWD
Could you please provide us your merchant Id (the one found in your profile and NOT the api key) as well as the sources' configuration that you've made in the production environment?

[2019-11-28 13:35] Barnaby-Clifton commented on #1242
can you respond to my last?

On Thu, 28 Nov 2019 at 09:51, Barney Clifton <barneyclifton@gmail.com>
wrote:

[2019-11-28 13:48] matthewrgourd commented on #1242
Can you send me your Merchant ID and I'll look into it. Email address is mgourd@vivawallet.com.

[2019-11-28 14:04] TIWD commented on #1135
Merchant Id : 6fe691f8-41de-47c2-922c-edfff93943da

[2019-11-28 14:27] matthewrgourd commented on #1242
Thanks for that. I'm just checking with my colleague if we can expedite the process for you.

[2019-11-28 15:05] matthewrgourd commented on #1242
Hi there, I'm told by our Risk team that you should have been sent an email advising what to do next. Basically you need to have a website up and running before we can evaluate. Hope this helps!

[2019-11-28 15:10] Barnaby-Clifton commented on #1242
My website is all up and running,

On Thu, 28 Nov 2019 at 15:10, Barney Clifton <barneyclifton@gmail.com>
wrote:

[2019-11-28 15:14] Barnaby-Clifton commented on #1242
greendragonstores.co.uk

On Thu, 28 Nov 2019 at 15:10, Barney Clifton <barneyclifton@gmail.com>
wrote:

[2019-11-28 15:14] Barnaby-Clifton commented on #1242
The problem was because I put .com not .co.uk, that's probably why you
think I don't have a website.

On Thu, 28 Nov 2019 at 15:13, Barney Clifton <barneyclifton@gmail.com>
wrote:

[2019-11-28 15:37] matthewrgourd commented on #1242
Should be active in the next couple of hours if not sooner. Thanks!

[2019-11-28 15:49] Barnaby-Clifton commented on #1242
BRILLIANT

On Thu, 28 Nov 2019 at 15:37, matthewrgourd <notifications@github.com>
wrote:

[2019-11-28 19:57] Ddcdom commented on #1228
Hi @matthewrgourd just wondering if you had an update on this issue?

[2019-11-28 22:32] 0766458080 commented on #728
Hi every one can any person tell me about refunding becuse vivawallet hold my transaction from.one week

[2019-11-28 22:36] 0766458080 commented on #728
I want refund my transaction

[2019-11-29 09:41] matthewrgourd commented on #1228
Hi @Ddcdom we're currently in a transition period between plugin developers but I'll make a note to add this to the roadmap for early 2020. Thanks!

[2019-11-29 10:12] Stratubas opened #1245 "Server Error at demo.vivapayments.com/selfcare/en/sales/mysales"
Hello again.

I'm working on native checkout v2 with pre-auth.

My steps are the following:

1) Get an access token by posting at
https://demo-accounts.vivapayments.com/connect/token

2) Get a charge token (and some html+js) by posting at
https://demo-api.vivapayments.com/nativecheckout/v2/chargetokens

3) Render the html+js from step 2, which redirects me to
https://demo.vivapayments.com/web/chec

[2019-11-29 10:20] human-cbd commented on #1174
Hello, same problem , impossible to finish the transaction and access to your payment !
![image](https://user-images.githubusercontent.com/56971117/69862032-e1741980-1299-11ea-8dca-a3d81222f6c2.png)
![image](https://user-images.githubusercontent.com/56971117/69862147-1d0ee380-129a-11ea-9a46-c47b1740d995.png)
![image](https://user-images.githubusercontent.com/56971117/69862192-2d26c300-129a-11ea-9b

[2019-11-29 10:25] matthewrgourd commented on #1174
Hi @human-cbd sorry to hear you're still experiencing issues. I've sent your update to our plugin developer in case he can help further.

[2019-11-29 11:25] rajdeeporbsys commented on #1234
Hello,

The above amount related point is solved but my main concern is that every time am trying for demo transaction with my demo credentials, the transaction getting canceled. Please help me with this on priority its been 2-3days waiting for the support from you guys.

[2019-11-29 11:26] matthewrgourd commented on #1243
Hi @Alvaroalconada, our development team has got back to me about question 1. Please see below:

preauthorization is a promise for a later charge and need to be captured (immediately or at a later time).

[2019-11-29 11:29] anupg opened #1246 "woocommerce redirect after successful payment"
Hello
This is my domain name https://www.cbdeaze.co.uk and I am using the plugin from developer account https://developer.vivawallet.com/downloads/vivawallet-for-woocommerce.zip . I have setup everything also user can make the payment but user not redirecting to sucess page after sucessfull payment .. so I need urgent help on this and below is the configuration I am using in vivawallet setting and

[2019-11-29 11:35] matthewrgourd commented on #1234
Hi @rajdeeporbsys are you attempting to create a custom integration with the Ecwid plugin for Wordpress?

[2019-11-29 11:38] rajdeeporbsys commented on #1234
Yes

On Fri, Nov 29, 2019 at 5:05 PM matthewrgourd <notifications@github.com>
wrote:

--

Regards,
*Rajdeep Singh*

[2019-11-29 12:21] rajdeeporbsys commented on #1234
Hello,

What is this about that you removed the developer label and added unofficial package?

[2019-11-29 12:25] matthewrgourd commented on #1234
@rajdeeporbsys sorry, it's just that we don't have available a specific plugin for Ecwid. However, if you're making your own, this doesn't really apply so I've removed the label now. The only update I can give you currently is try testing on production.

[2019-11-29 12:25] #1234 closed

[2019-11-29 12:59] VivaWalletSupport commented on #1246
Hello, please follow the instructions to the letter: https://developer.vivawallet.com/e-commerce-plugins/woocommerce/
You seemed to have left empty the Source Code field in the plugin settings.

[2019-11-29 13:47] matthewrgourd commented on #1174
Hi there, please send your Merchant ID (production) through to myself: mgourd@vivawallet.com

[2019-11-29 13:49] matthewrgourd commented on #1174
Hi @human-cbd, please send your Merchant ID (production) through to me (mgourd@vivawallet.com) referencing this issue. I will investigate further but at the moment I cannot find your account.

[2019-11-29 15:00] Alvaroalconada commented on #1243
Hi @matthewrgourd, my client still has two questions about the above:

Q1: Is there any possibility that as soon as the transaction is made the card will be charged and that it is not necessary to enter the control panel to "Capture" the payment?
Q2: Please give me an answer or I will have no choice but to recommend suspending operations again because we do not know if the payment is really valid

[2019-11-29 15:18] matthewrgourd commented on #1235
Hi @Reaper1994 Hope my email reply has helped. Please close this issue when you can.

[2019-11-29 17:19] matthewrgourd commented on #1235
Hi @Reaper1994 I believe you've still got problems. You mention in your latest email reply:

Could you elaborate on this? What exactly do you mean? Thanks. Matt

[2019-11-29 17:24] matthewrgourd commented on #1244
Hi @MadMikeyB can you send me your merchant ID so I can check if there's any issue with your account? Apologies if you've already done this but I need to look again.

[2019-11-30 09:38] rohitgilbile7 opened #1247 "Does Viva Wallet (Native Checkout v2 3DS) Work with Woocommerce or it is beta version?"
Hello,

I am trying to build a Woocomerce plugin for (Native Checkout v2 3DS). I read many articles and viva wallet documentation but didn't found practical examples to implement Native Checkout v2 3DS.

[Viva Wallet](https://github.com/VivaPayments/API/wiki)) says Native checkout v2 3DS in beta version. Is it or document is not updated?

Has anyone implemented Native checkout v2? Please guide.

[2019-11-30 16:22] MadMikeyB commented on #1244
Thanks @matthewrgourd - I was not sending the correct SourceCode - though I did not see this anywhere in the dev docs - maybe it could be updated that SourceCode is an INT and not "Default" like it is in the docs?

Thanks anyway

[2019-11-30 16:22] #1244 closed

[2019-12-02 06:26] Reaper1994 commented on #1235
hi, @matthewrgourd  I guess there is some confusion with some other email thread.

actually I'm using the instructions mentioned in native checkout v2 documentation ie when I switch to the live account I get the above-mentione error

error
The Same Origin Policy disallows reading the remote resource at https://api.vivapayments.com/api/cards?key=PykZU8D3rN5f2GiOuPqCPJSn7YgFX5ahOdRd%2BWsCdCg%3D.

[2019-12-02 10:36] matthewrgourd commented on #1247
Hi @rohitgilbile7 just to let you know that Native Checkout v2 has been out of beta for some time. The page on GitHub you mention needed updating which I've done now. The extent of the documentation we have for Native Checkout v2 is listed below:

- [Native Checkout v2](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/) (Viva Wallet Developer Portal page)
- [Migrating from Nati

[2019-12-02 12:24] matthewrgourd commented on #1235
Hi @Reaper1994 reply back from our development team is that the endpoint `https://api.vivapayments.com/api/cards?key=[yourkey]` is not referred in our Native Checkout v2 documentation. If you don't want to use the [VivaPayments.js](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/#step-2-add-a-reference-to-vivapayments-js), the steps for integrating with our platform are descri

[2019-12-02 15:14] twistedpig commented on #1034
HI I am stil having issues with teh error
ERROR 1054 (42S22): Unknown column '' in 'where clause'
this comes after the user pays. ??

[2019-12-02 15:19] twistedpig opened #1248 "Virtuemart 1054 error"
HI I am stil having issues with teh error
ERROR 1054 (42S22): Unknown column '' in 'where clause'
this comes after the user pays. ?? PLease help

Using the latest virtuemart vivawallet plug in

[2019-12-02 18:17] rohitgilbile7 commented on #1247
Hi,

Thanks for the update.

I follow the sample .Net Project to implement in PHP.

And I am Facing CORS policy blocking issue. I thought it is blocking by my server. But when I contact my server regarding the same they replied " CORS policy is blocking access to demo.vivapayments.com, which is a third-party issue. I would highly recommend reaching out to vivapayments.com for further assistance on

[2019-12-03 04:18] VivaWalletSupport commented on #1248
Hello, please try what had been recommended in your original post https://github.com/VivaPayments/API/issues/1034

[2019-12-03 09:37] matthewrgourd commented on #1247
Hi @rohitgilbile7 I'm sorry, but where are you getting the `https://demo.vivapayments.com/3ds/services/nativecheckout/v2/chargetokens` endpoint from? It's not in our documentation or code sample. Correct endpoint is `https://demo-api.vivapayments.com/nativecheckout/v2/chargetokens`

[2019-12-03 09:51] benjamin-dot opened #1249 "Magento 2.3 Integration"
Hi,

We've got Viva Payments installed and configured on a dev Magento 2.3 store however the payment methods is not showing up on the frontend, can anybody assist with this?

I've got no errors in any log files anywhere.

[2019-12-03 10:04] VivaWalletSupport commented on #1249
Hello, please follow he instructions from https://developer.vivawallet.com/e-commerce-plugins/magento2.3/ (Step 2).

[2019-12-03 10:12] benjamin-dot commented on #1249
I have done that and it doesn't show up.

The only issue I can potentially see is that the dev website has a different URL to that on the Viva Wallet website, would this cause the payment method to not show?

[2019-12-03 10:22] VivaWalletSupport commented on #1249
It wouldn't, only in case the extension has been excluded for specific countries or if the store currency differs from the configured currency the payment method would not be available. I would suggest to test on a vanilla version of Magento to exclude any problem with other 3rd party extensions / themes.

[2019-12-03 10:34] benjamin-dot commented on #1249
Thanks, it was the currency selection.

I hadn't selected the active currencies on the VivaPayments module, once i had updated this the module started showing up.

[2019-12-03 11:02] #1249 closed

[2019-12-03 11:05] matthewrgourd commented on #1248
Hi @twistedpig, @VivaWalletSupport installed as a test and found no problems. Suggestion was to  to debug your setup or use a fresh installation. Please try this. Thanks.

[2019-12-03 11:06] #1246 closed

[2019-12-03 11:12] matthewrgourd commented on #1000
Please call the [customer service number](https://www.vivawallet.com/en-eu/contact-us/) for your country and ask for a check on your account(s).

[2019-12-03 11:12] #1000 closed

[2019-12-03 11:17] matthewrgourd commented on #1135
Hi @TIWD I've checked and you have two sources set up. The one for 'Holidaymasters' has a code of '2771' so I would suspect that his needs to be referred to during setup.

[2019-12-03 11:18] matthewrgourd commented on #1172
Closing as no reply. If you're still experiencing an issue, please reopen and send through further details. Thanks!

[2019-12-03 11:18] #1172 closed

[2019-12-03 11:22] matthewrgourd commented on #1174
Hi @human-cbd, if this is still a problem, we advise following the [setup procedure](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/) again in production after uninstalling the module completely.

[2019-12-03 11:27] matthewrgourd commented on #1225
Closing as in discussion by email.

[2019-12-03 11:27] #1225 closed

[2019-12-03 11:27] #1228 closed

[2019-12-03 11:27] #1235 closed

[2019-12-03 11:28] #1241 closed

[2019-12-03 11:29] #1242 closed

[2019-12-03 11:30] #1240 closed

[2019-12-03 12:18] TIWD commented on #1135
Hi
We had already setup in '2771' code. but still it's not redirecting.

Pleadse advise.

Thanks
Manoj

[2019-12-03 13:19] davecarlson opened #1250 "Please enable API transactions endpoints for the following"
Please enable API transactions endpoints for the following

demo:
`82d8cf98-baa4-47ae-b4d0-50dad0c8331a`

live:
`ca45e17e-01d8-43d5-a2e5-9dc3bdb93b50`

Thanks

[2019-12-03 13:47] matthewrgourd commented on #1135
@TIWD Ok, I will raise with our dev team.

[2019-12-03 15:05] rajdeeporbsys commented on #1234
Hello,

Please check below loom video

https://www.loom.com/share/eba37bcc466f4550b9fb43d343599615

Am getting this access denied error some times

https://www.cbdshopfrance.fr/

On Fri, Nov 29, 2019 at 5:55 PM matthewrgourd <notifications@github.com>
wrote:

--

Regards,
*Rajdeep Singh*

[2019-12-03 16:42] matthewrgourd commented on #1250
Hi @davecarlson are you requesting this as the result of an error message? If so, what does it say?

[2019-12-03 16:44] davecarlson commented on #1250
Yes, it says that the api is disable for this merchant I’d.

Trying to post the token returned from simple checkout to /api/transactions

On Tue, 3 Dec 2019 at 4:42 pm, matthewrgourd <notifications@github.com>
wrote:

[2019-12-03 16:45] matthewrgourd commented on #1250
@davecarlson I've changed your settings. Please try again. Thanks!

[2019-12-03 16:47] davecarlson commented on #1250
The specified api action is disabled for the merchant ca45e17e-01d8-43d5-a2e5-9dc3bdb93b50, please consult the documentation

[2019-12-03 17:11] Alvaroalconada commented on #1243
Hi @matthewrgourd Do you know something about I told you the last time?

Thanks mate.

[2019-12-03 19:24] rohitgilbile7 commented on #1247
Hello,

Thanks for the update.
I was following [.NET Project](https://github.com/VivaPayments/API/blob/master/NativeCheckoutV2/NativeCheckoutV2/NativeCheckoutV2/wwwroot/js/site.js) and also [this](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/) to create my Native Checkout in PHP.

I completed my 2 steps in setup instructions. In step 3 to Initialize Native Checkout. I neede

[2019-12-03 20:29] davecarlson commented on #1250
@matthewrgourd  - all working on test now.

However - live is still down:

The specified api action is disabled for the merchant ca45e17e-01d8-43d5-a2e5-9dc3bdb93b50, please consult the documentation.

Can you please enable the API on this one too ?

```ca45e17e-01d8-43d5-a2e5-9dc3bdb93b50```

[2019-12-04 05:50] rajdeeporbsys opened #1251 "Getting Access Denied issue for demo testing"
Hello,

Am getting access denied error while going for viva wallet checkout page.

"You dont have permission to access..."

please check loom video for better understanding

https://www.loom.com/share/eba37bcc466f4550b9fb43d343599615

[2019-12-04 08:28] konsP commented on #1243
Hello @Alvaroalconada,

Regarding your first question, as @matthewrgourd  has already mentioned "During the authorization card charges occur instantly". So you basically charge the cards instantly and there is no need to do a "Capture" from within your merchant environment.
You can do this by setting `IsPreAuth=False` option.

Hope this helps ;)

[2019-12-04 08:31] Alvaroalconada commented on #1243
@konsP Thanks for the answer. What about the second question?

[2019-12-04 08:48] konsP commented on #1243
Hi @Alvaroalconada,
I am not entirely sure what Q2 regards. "we do not know if the payment is really valid or not."  Care to clarify?

The payment (using the above method) will appear in the merchant's transaction grid as "Card charge".

[2019-12-04 09:37] matthewrgourd commented on #1197
Hi @Reaper1994, should work now. Please close this issue unless you continue to have problems. Thanks!

[2019-12-04 09:42] matthewrgourd commented on #1216
@freeskyala as I've not heard from you I'm closing this issue. Please feel free to reopen if it's still a problem.

[2019-12-04 09:42] #1216 closed

[2019-12-04 09:44] matthewrgourd commented on #1250
@davecarlson done! I'm closing this issue now. Feel free to reopen if any further problems.

[2019-12-04 09:44] #1250 closed

[2019-12-04 09:51] Alvaroalconada commented on #1243
Hi @konsP I mean this description about Q2:
Obtain the payment information to know in which state it is processed, we would obtain the payment status, it can be "Captured", "Uncaptured" or "Canceled", however when we get the detail of the same state any indicator of the Payment is always the same (please see attached image).
That said what we would need is a reliable way of knowing that the paymen

[2019-12-04 09:52] Alvaroalconada commented on #1243
Hi @konsP I mean this description about Q2:
Obtain the payment information to know in which state it is processed, we would obtain the payment status, it can be "Captured", "Uncaptured" or "Canceled", however when we get the detail of the same state any indicator of the Payment is always the same (please see attached image).
That said what we would need is a reliable way of knowing that the paymen

[2019-12-04 09:58] davecarlson commented on #1250
Thanks Matthew - all working now.

[2019-12-04 10:17] matthewrgourd commented on #1247
Hi @rohitgilbile7, thanks for sending through further info. However, I need to ask again, where are you getting the https://demo.vivapayments.com/3ds/services/nativecheckout/v2/chargetokens endpoint from? As far as I'm aware `3ds/services` is incorrect in this endpoint!

[2019-12-04 10:27] konsP commented on #1243
@Alvaroalconada
the arrows in your figure point to **the state of the order not the payment**. In this case 3 = Paid.

Now,  the payment's status (either a preauth [marked as "Authorization"] or a charge [marked as "Card charge"in the transactions grid] is **colour-coded** as in this picture and in the attached pic for the case of a card charge. We do not provide any other info on the status of th

[2019-12-04 10:29] matthewrgourd commented on #1251
Hi @rajdeeporbsys it looks like you need to replace any instances of `http` with `https`. Thanks!

[2019-12-04 10:29] #1251 closed

[2019-12-04 10:38] rajdeeporbsys commented on #1251
If you check my code its already https and as i mentioned it sometimes works

[2019-12-04 10:49] rajdeeporbsys opened #1252 "Getting Access Denied issue for demo testing and instances are already of https"
Hello,

Am getting access denied error while going for viva wallet checkout page.

"You dont have permission to access..."

please check loom video for better understanding

https://www.loom.com/share/eba37bcc466f4550b9fb43d343599615

For this matthewrgourd already reverted but am using https instance already.

Also If you check my code its already https and as i mentioned it sometimes works too.

[2019-12-04 10:52] matthewrgourd commented on #1252
Ok I will raise again with one of our developers and get back to you when I have any further info.

[2019-12-04 10:57] matthewrgourd commented on #1252
Hi @rajdeeporbsys you said you were using Ecwid as your e-commerce platform. Are you sure the error message isn't from Ecwid? We can't find any issues at the Viva Wallet end?

[2019-12-04 11:01] rajdeeporbsys commented on #1252
Hello,

this is not related to ecwid as its normal post which going to your demo server and sometimes behaves like this.

So please take this under consideration

[2019-12-04 11:04] matthewrgourd commented on #1252
Ah, ok, you're referring to our demo server. Unfortunately this isn't 100% reliable but rest assured that in the live environment everything will be fine.

[2019-12-04 11:04] #1252 closed

[2019-12-04 13:59] matthewrgourd commented on #1247
Hi @rohitgilbile7 response from our development team:

This call must be made from your back-end.

[2019-12-04 15:13] matthewrgourd commented on #1168
Closing as no reply. Please reopen if you are still experiencing issues.

[2019-12-04 15:13] #1168 closed

[2019-12-04 15:17] matthewrgourd commented on #1200
Closing issue as no reply from user.

[2019-12-04 15:17] #1200 closed

[2019-12-04 15:18] matthewrgourd commented on #1203
Closing issue as no reply from user.

[2019-12-04 15:18] #1203 closed

[2019-12-04 15:18] #1207 closed

[2019-12-04 15:20] matthewrgourd commented on #1245
Should normally be fine but the demo server can sometimes misbehave. Are you still experiencing the same issue or is it ok now?

[2019-12-04 15:25] rohitgilbile7 commented on #1247
As I said I was following your. NET project. I tried to create a clone in PHP. And I got that

error.

[2019-12-04 15:40] Stratubas commented on #1245
Yes, the issue remains.

The page worked once now, because I didn't have any orders today. Searching for older orders popped up an "Error" message, and console logged "Failed to load resource: the server responded with a status of 500 ()".

After creating a new order (with the same steps), the original "Server Error" is shown in https://demo.vivapayments.com/selfcare/en/sales/mysales

[2019-12-04 16:52] matthewrgourd commented on #1247
@rohitgilbile7 My apologies, I can see that now...let me check again with our development team.

[2019-12-05 10:55] #1243 closed

[2019-12-05 11:08] matthewrgourd commented on #1233
Assuming you no longer have a problem, I'm closing this issue. Feel free to reopen if not the case.

[2019-12-05 11:08] #1233 closed

[2019-12-05 11:08] #1224 closed

[2019-12-05 11:09] matthewrgourd commented on #1221
Hi @adamianos as I've not heard from you I'm closing this issue.

[2019-12-05 11:09] #1221 closed

[2019-12-05 11:10] #1197 closed

[2019-12-05 14:27] theomandgr opened #1253 "How to translate Credit/Debit Card text at checkout page into Greek"
Hello,

I am having an issue with the checkout page concerning the credit/debit card payment provider. The text of the Credit Card option is written in English as you can see in the image below.

Is there any way this can be translated into Greek? Can this be done via the platform of Shopify?
The only thing I haven't tried is to switch the whole Shopify account in Greek.
![Screenshot 2019-12-04 at

[2019-12-05 15:00] matthewrgourd commented on #1247
Hi @rohitgilbile7 I'm spoken to our development team and apparently that .NET project I mentioned is out of date which explains the incorrect URL. Sorry for this! However, you're also trying to generate an access_token from ([JavaScript](https://pastebin.com/rQyAu2Tf) line: 79) which renders in the client browser. This call must be made from your back-end server (PHP). Hope this helps!

[2019-12-05 16:14] rohitgilbile7 commented on #1247
Thanks for the update. Will try to generate access  token from backend. And will update you soon

[2019-12-06 08:29] GJFox1972 commented on #1253
I also have a similar language issue our return invoice emails are in greek and i need them in English

[2019-12-06 08:30] GJFox1972 opened #1254 "Emails language"
How do we change the language of the emails to English?

[2019-12-06 09:09] cspiliakos opened #1255 "Not connecting?"
Recently updated WHMCS, and can't get through any payments.

Here's the debug log:

06/Dec/2019:11:32:34 [Link] VivaPayments 1.14 - Start
06/Dec/2019:11:32:34 [Link] License: Active
06/Dec/2019:11:32:34 [Link] currency=EUR, amount=10.00, amountbase=10.00
06/Dec/2019:11:32:34 [Link] transid created: bcde550acbcf062777e632da07b67e55
06/Dec/2019:11:32:34 [Link] Table mod_vivapay checked
06/Dec/2019:1

[2019-12-06 12:04] human-cbd commented on #1174
always not working...

[2019-12-06 12:48] GJFox1972 opened #1256 "live transactions not working"
Ticket ID CC-1226921

Message from my developer

Just completed my investigation and it’s 100% issue from the Viva Payment api they have blocked the the Tokenization request for V1 api so it is something they can help with.

I just did a test transaction and it’s working fine so 100% confirm Viva block the request for live account.

Please send them a mail :-
“Live transactions are not working but

[2019-12-06 15:50] thodoris71 opened #1257 "transaction failed"
I have done all the required procedures. When the transaction will be  completed the following  message appear (transaction  failed)

[2019-12-06 16:04] #1257 closed

[2019-12-06 16:39] matthewrgourd commented on #1256
Hi there, sorry to hear about your ongoing issues. If you could first clarify a few things.

By which method are you attempting to integrate?

- [Native Checkout v2 3DS](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/)
- [Redirect Checkout](https://developer.vivawallet.com/online-checkouts/redirect-checkout/)
- [E-commerce plugin](https://developer.vivawallet.com/e-commerce-p

[2019-12-06 16:57] matthewrgourd commented on #1247
We will look into this further in response to your developers' comments below:

According to viva wallet documentation before sending users data (Card number, CVV). You need "authToken". And we can get this by calling their API. But when I make API call getting response CORS policy blocked issue.

[2019-12-06 17:11] GJFox1972 commented on #1256
Afternoon Matthew,

We are using the API integration

the integration was tested and it was live

we then changed the domain from a wordpress staging address to the actual address and now its not processing live transactions

Regards
Grant Fox
📞 07789882255
Vulpes Media limited T/A Dreambikecompetition™
reg 11794512

[2019-12-07 17:59] cspiliakos commented on #1255
Το περίεργο του πράγματος συνεχίζεται, διότι βγάζει off το allow_url_fopen, παρόλο που στο php.ini εμφανίζεται ενεργοποιημένο.

[2019-12-07 19:56] GJFox1972 commented on #1256
Any news here ?

[2019-12-08 06:40] odysseas12 opened #1258 "Error - PaymentsCardHolderAuthenticationInvalidStatus"
Im getting this error on some transactions.

{"error":1,"data":{"Emv":null,"Amount":null,"StatusId":"E","CurrencyCode":null,"TransactionId":null,"ReferenceNumber":null,"AuthorizationId":null,"RetrievalReferenceNumber":null,"ThreeDSecureStatusId":null,"ErrorCode":400,"ErrorText":"PaymentsCardHolderAuthenticationInvalidStatus","TimeStamp":"2019-12-07T10:34:58.6234796+02:00","CorrelationId":null,"Eve

[2019-12-09 12:09] matthewrgourd commented on #1256
Hi there, sorry, still not enough detail about what it is your developer is attempting to do. Is an e-commerce platform for Wordpress involved, e.g. WooCommerce? Maybe get him to reply directly to us via GitHub here...Thanks! To be honest,

makes no sense at all.

[2019-12-09 12:53] lilkitty22 opened #1259 "UNABLE TO LINK VIVA WALLET ACCOUNT TO SHOPIFY PLEASE HELP!!!"
I am unable to link my Viva wallet account to my Shopify store. When a customer tries to pay instead of viva wallet loading the payment page it just comes up with the words, 'input is invalid' on a white screen?
I'd be so grateful if anyone could help? xx

[2019-12-09 14:58] johnpaizis opened #1260 "native check out problem"
I get error
Source 1236 of merchant 75bb687e-dcd9-416c-9051-34d28ad12999 supports only native checkout
It was working fine some days ago!

[2019-12-09 15:12] varungoswami commented on #1203
Hi Matthew,

I have already sent an email, I have not heard back from you and I saw notification that issue was closed.
My merchant id is
691e86c8-c565-4aa4-beb8-329173fcf54b
Let me know if you required any further information, I had 6 orders cancelled on 7th and 8th December.

Thank you,
Best Regards,
Varun Goswami

On 4 December 2019 at 15:18, matthewrgourd <notifications@github.com> wrote:

Clo

[2019-12-09 15:39] matthewrgourd commented on #1203
Hi @varungoswami I've looked at your account and the customer attempting to make payments on 7th/8th December had his card declined by the issuing bank without an explanation. Try to get them to pay with a different card.

[2019-12-09 16:19] mohitpand commented on #1256
Hi there!

When we send the request to this endpoint
"https://api.vivapayments.com/acquiring/v1/cards/chargetokens" to Tokenize
card according to your API help
https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Cards/paths/~1api~1cards~1chargetokens/post
we receive 403 error which means "You are not authorized to access the
requested resource." according to you API error code de

[2019-12-09 17:02] matthewrgourd commented on #1256
Hi @mohitpand the 403 error means there's a problem with authentication. You should be using an OAuth2 bearer token for this? If not, please follow the below instructions before you retry the steps in the tokenization guide:

https://developer.vivawallet.com/authentication/#oauth-2-token-generation

Hope this helps! Let me know how you get on.

[2019-12-10 09:23] rikless commented on #1256
@matthewrgourd I'm concerned too on this issue. Got 403 on same endpoint.

At this point, I use OAuth2 bearer token and the same request with demo credentials are ok.

We've tried to build the auth bearer and credentials 3 times on 3 different person, and it's still the same response.

What can we do ?

[2019-12-10 09:28] matthewrgourd commented on #1254
Hi @GJFox1972, sorry, which emails? What language are they being sent in? Sorry, please provide further details of the issue. Can I have your company name, please?

[2019-12-10 09:32] matthewrgourd commented on #1255
Hi @cspiliakos, sorry to hear this. Can you tell me a bit more about your implementation of Viva Wallet? Is it a custom integration through our [Payment API](https://developer.vivawallet.com/api-reference-guide/payment-api/) or have you used [Native Checkout v2](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/)? Alternatively, have you installed one of our plugins on an [e-com

[2019-12-10 09:45] GJFox1972 commented on #1254
this is in regards to the other issue to when that API is active the email invoice to the customer is being sent in greek I am currently using your plugin and it's fine but I paid Mohit for the API so I could have tokenization.

[2019-12-10 09:47] matthewrgourd commented on #1256
@rikless Are you following the token generation instructions for production when you attempt the switch-over? https://developer.vivawallet.com/authentication/#production-environment

[2019-12-10 09:47] alexnuzh opened #1261 "Issue with SimpleCheckout"
I use this instruction
https://developer.vivawallet.com/online-checkouts/simple-checkout/
Step 1 is ok
Step 2 when I send request to Make the charge to https://demo.vivapayments.com/api/transactions
I receive error
https://prnt.sc/q727kb
May be in some place need activate this simple checkout ?

[2019-12-10 09:53] rikless commented on #1256
@matthewrgourd yes

[2019-12-10 10:12] matthewrgourd commented on #1254
If this relates to the API parameters, please send through the request / response logs (or get your developer to).

[2019-12-10 10:15] matthewrgourd commented on #1254
For instance there is a parameter `RequestLang` for setting the language within the Payment API. This is when you create the Payment order. It needs to be set to 'EN-US' for English: https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Payments/paths/~1api~1orders/post

[2019-12-10 10:20] matthewrgourd commented on #1256
@rikless please send through any response / request logs so I can check further (blur out any confidential information). If I could also check your account? Email mgourd@vivawallet.com with your merchant ID referring to this GitHub issue. Thanks!

[2019-12-10 10:46] rikless commented on #1256
@matthewrgourd email send !

[2019-12-10 11:43] Reaper1994 commented on #1197
hi @matthewrgourd  I'm still facing some issue while making calls to the API I get the following response
ErrorCode":405,"ErrorText":"Action blocked due to security policy

this is while using the online checkout method

sending you my merchant id via email

Thanks

[2019-12-10 12:21] matthewrgourd commented on #1259
Hi @lilkitty22 is this a recent switch you've made to using Viva Wallet within Shopify? Have you followed our [guide](https://developer.vivawallet.com/e-commerce-plugins/shopify/)? Please follow this verbatim in order to install correctly. Thanks!

[2019-12-10 13:55] matthewrgourd commented on #1259
Hi @lilkitty22 can you send me your Merchant ID and I may be able to investigate further. Email is mgourd@vivawallet.com. Please reference this issue in the message.

[2019-12-10 14:14] theomandgr commented on #1253
Anyone?

[2019-12-10 14:52] matthewrgourd commented on #1258
Please email me with your Merchant ID so I can check your account. Reference this issue in the message. mgourd@vivawallet.com

[2019-12-10 16:09] cspiliakos commented on #1255
Hi @matthewrgourd, it's a plugin through a 3rd party, for WHMCS. Last time I checked, Viva has not released a WHMCS plugin yet. It's Native v2 (at least according to my panel).

My question though, is if it's supposed to be working, and a similar one, but older was working before the update of WHMCS, and Plesk, why is it not working now? The 3rd party developer asked me to contact you, as they men

[2019-12-10 16:20] matthewrgourd commented on #1256
Hi @GJFox1972 and @rikless I've spoken to our development team and apparently we've discontinued our Card tokenization API so unfortunately the documentation you've been looking at was incorrect. I've updated the Viva Wallet Developer Portal accordingly. In your calls what you need to do is replace any instances of `/acquiring/v1/cards` with `/nativecheckout/v2` as shown in the below information a

[2019-12-10 16:25] rikless commented on #1256
mmmh, thank you @matthewrgourd but why does it work on sandbox mod ?

[2019-12-10 16:31] rikless commented on #1256
@matthewrgourd /nativecheckout/v2 endpoint don't allow us to save credit card. What's the issue

[2019-12-10 16:39] matthewrgourd commented on #1256
@rikless Ok, didn't realise that. I'll get one of our dev team to look at this tomorrow. They're based in Greece so it's already outside office hours now!

[2019-12-10 16:52] GJFox1972 commented on #1256
@mohitpand  gutted!

[2019-12-11 03:44] ParisZX commented on #1240
I have the exact same issue with preauth in the demo environment, everything works fine when I set it to false, but when it's set to true, I get the error @Stratubas mentions above.

`{
    "status": 502,
    "message": "Transaction failed",
    "eventId": "10051"
}`

Are there any news regarding its fix? Thanks for your time.

[2019-12-11 08:58] olesiastudenets opened #1262 "WooCommerce Viva Wallet Plugin Integration into Wordpress"
Dear Team,

I have downloaded the version of plugin from here https://developer.vivawallet.com/e-commerce-plugins/woocommerce/ but failed to install it to my new last update version of Wordpress WooComnmerce dashboard. The only error was - failed, no other specific details.
I have competetd the settlement of account with API on my online Viva bank account but stuck at installation of plugin for Wo

[2019-12-11 09:08] Laura345 opened #1263 "Vivawallet and Shopify order syncing"
A customer has tried to place an order using Shopify and payment was taken for the order from vivawallet however the order didn't pull through as completed on Shopify and sits in abandoned checkout. Please assist in fixing this and converting this to a placed order. What would cause this?
--

[2019-12-11 09:34] VivaWalletSupport commented on #1262
Hello, you would download the zip package from https://developer.vivawallet.com/e-commerce-plugins/woocommerce/ to your desktop and use the plugin installer from WordPress.

[2019-12-11 09:53] olesiastudenets commented on #1262
I did it exactly as you say. Downloaded to my desktop and tried to install in dashboard WordPress as it is described in the instruction but it failed, can't be installed.

[2019-12-11 10:02] olesiastudenets commented on #1262
I have new Worpress version-the latest one.
Is there any potential issue with compatibility with your plugin which is here https://developer.vivawallet.com/e-commerce-plugins/woocommerce/ ?

[2019-12-11 10:15] jahazzz commented on #1256
Hi @matthewrgourd , I'm currently meeting the same issue as @rikless .
The ability to save cards with the API is one of the most important features of the project I am finishing. I hope you will find a solution quickly ^^

[2019-12-11 10:34] matthewrgourd commented on #1261
Hi @alexnuzh please email mgourd@vivawallet.com with your demo and live Merchant IDs. I will then be able to enable the correct settings. Thanks!

[2019-12-11 11:03] matthewrgourd commented on #1256
Hi @mohitpand, @rikless, @jahazzz, I spoke to our development team and it looks like the ability to save cards is temporarily unavailable. We'll be reintroducing it soon but until then please refer to the [Native Checkout v2 page](http://developer.vivawallet.com/online-checkouts/native-checkout-v2/) for all the actions that are currently available.

[2019-12-11 11:35] rikless commented on #1256
@matthewrgourd What do you mean by "temporary" ? What is the solution, because we need to save cards.

[2019-12-11 12:31] VivaWalletSupport commented on #1262
Just tested the specific plugin on the latest version of WP / WooCommerce and I cannot replicate the issue you mention. Try a vanilla WP/WC installation / find out what exact error occurs.

[2019-12-11 12:46] olesiastudenets commented on #1262
Can you explain what does it mean? I just received the new reinstalled WP with WooCommerce plugin form Alidropship support team, i am not developer so can't catch you.
 Can you explain please what can be done exactly?

And comment on the plugins already existing on official Wordpress site i mentioned.
Are they not working?

[2019-12-11 14:25] olesiastudenets commented on #1262
I have seen the problem, it was conflict with default currency (for some reason it was USD), when i have changed it to EUR it became active.
The problem resolved.
Thank you for your time.

[2019-12-11 16:01] zissop opened #1264 "Simple checkout and Installments"
Hello

Do you support installments on the simple checkout method?

Thanks in advance

[2019-12-11 18:11] Vincegypt commented on #1256
Hello,

I take over from @rikless to inform you that we are customers at Vivawallet largely for the recurence of payment proposed. We rely on this feature to devellop a new part of our activity. We are therefore looking forward to your return to find out if we need to find another online bank offering recency.

Thank you we are waiting for the reintroduction

Vincent

[2019-12-11 20:32] thefisherbox commented on #1256
Hi,
We have the same problem, we were developing the same functionality but nom it's impossible.
Can You resolve this problem?
That's really bad.

Regards,
Alexandre

[2019-12-12 09:33] matthewrgourd commented on #1255
Hi @cspiliakos , I'm afraid the fact that you're using a third-party plugin means we're unable to provide support. If it was working before but isn't now may have something to do with the new 3DS component in our Native Checkout. Beyond that, I can't provide further help unfortunately. In reply to your other query, we intend to have a fully operational technical support department in the new year.

[2019-12-12 09:33] #1255 closed

[2019-12-12 10:19] rikless commented on #1256
@matthewrgourd Can you give us more information please ?

[2019-12-12 10:35] IlPizza79 opened #1265 ""Simple Checkout" integration in Prestashop module?"
Hi, I'm using Viva wallet module for Prestashop.
It seems that only "Redirect Checkout" integration can be used with Prestashop module, is it true?
Is there a way to activate "Simple checkout" integration when using Prestashop module?
Thanks :-)

[2019-12-12 10:55] johnpaizis commented on #1260
Can you please provide a solution to my problem?

[2019-12-12 12:25] VivaWalletSupport commented on #1265
Hello, currently the simple checkout is not available in the supported module.

[2019-12-12 13:25] Vincegypt commented on #1256
Hi everyone, @matthewrgourd if you can give us more concrete information we have spend a lot of money on this and its a big problem for us, please send us some good news.

[2019-12-12 15:01] cspiliakos commented on #1255
Hi @matthewrgourd, the Issue was resolved earlier last night by the dev. of the plugin. Apparently the password given by Viva was messing up with the plugin (weird, but ok, it can happen). The character " > " that was in the password was messing up the plugin, and viva's servers did not reply that there was an issue with the login.

On a more personal level, I'm not happy by Viva's support. Your p

[2019-12-12 15:24] matthewrgourd commented on #1256
Hi all, I'm attempting to find out more info from our dev team. Please bear with me.

[2019-12-12 16:50] #1260 closed

[2019-12-13 08:54] matthewrgourd commented on #1256
Hi all, the response from our development team is unfortunately they don't know when the functionality will be restored. We know that many of our customers are disappointed so will try our best to get back to you with a solution.

[2019-12-13 10:27] matthewrgourd commented on #1174
Hi @human-cbd please provide further details of the issue as it stands now. Error messages etc. I understand that you feel frustrated but there is no issue with our plugin so there must be something else that's wrong.

[2019-12-13 10:57] human-cbd commented on #1174
![image](https://user-images.githubusercontent.com/56971117/70794915-09d23c80-1d9f-11ea-9704-9889015fb500.png)

Hello, as you can see it again on this screenshot nothing happens when you click on validate the payment. I invite you to try an order by selecting your payment module during the checkout to better understand the problem. I tried other plugins of your competitors and only with yours that

[2019-12-13 11:16] Vincegypt commented on #1256
Hi @matthewrgourd , thanks to keep us in touch but we can't accept this answer.... :-)

Please ask them again for a reactivation, we need to finish this project. As i said before we have engaged a lot of money to devellop a plugin with the afirmation from vivawallet that is possible.

We must go forward on this point you have all you need to activate this feature. We can't just wait, some people i

[2019-12-13 11:34] #1265 closed

[2019-12-13 11:37] matthewrgourd commented on #1264
Hi @zissop , I'm afraid installments are not supported using the Simple Checkout method. You would need to use [Native Checkout v2](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/).

[2019-12-13 11:37] #1264 closed

[2019-12-13 11:39] matthewrgourd commented on #1263
Hi @Laura345, sorry to hear this. How long have you been using Viva Wallet with Shopify? Any issues before?

[2019-12-13 11:39] #1262 closed

[2019-12-13 11:56] matthewrgourd commented on #1019
Hi @JulioIbro sorry to hear this. Can you send your Merchant ID to mgourd@vivawallet.com and I'll check your account. Thanks!

[2019-12-13 12:00] #1248 closed

[2019-12-13 12:13] rikless commented on #1256
@matthewrgourd totally agree with @Vincegypt. We can't accept this answer.

Vivawallet confirmed the availability of this feature before we started to work with our dev team.

Your demo API is still live and never thrown this exception so you need to activate this feature. You've been warned one week ago.

Francois

[2019-12-13 12:17] matthewrgourd commented on #1174
@human-cbd I have tested just now and see what you mean about nothing happening at checkout. We know that our official plugin works so I'm not sure how to help other than mentioning again the suggestions we already gave you. One thing of note is that you previously installed an unofficial plugin. Are you sure that this is now completely removed?

[2019-12-13 12:34] jahazzz commented on #1256
@matthewrgourd  We're talking about professionnal application, business and money ...   The least we can expect from a paid service is reactivity and concrete responses with explicit deadlines.
This feature works in sandbox so it can't be so complicated to restore it in production.

[2019-12-13 13:20] zissop commented on #1264
Do you plan to support it? It's a must have feature.

[2019-12-13 17:54] alexnuzh opened #1266 "Checkout token decryption failed"
Hi
I am using simple checkout https://developer.vivawallet.com/online-checkouts/simple-checkout/
but on step 2 I receive error
 Checkout token decryption failed see please attached below
http://prntscr.com/qah6mv

I am use demo account
My Merchant ID: e12b1507-b333-4bd5-94d2-d299288d58e0
publickey : 1IK3aOYpmaZaW28icrI8fzq1ocI64u9N6eLL/JehJZA=

thank

token from screen below:
9WxXQ1MJ71BdtPDTJjuar

[2019-12-13 20:46] zissop opened #1267 "Simple checkout problem"
When we try to make a payment using the demo credit card with Simple checkout, the popup turns into a 3D secure dialog (Image1) where we have to choose the authentication outcome.

Whatever we choose we get Image2 and the form is never posted. The X button cant be pressed.

What is the problem?

Image1: https://ibb.co/3RJ9FvW

Image2:  https://ibb.co/Cwdyzpn

[2019-12-13 20:55] zissop commented on #1267
Now i see that when we choose the authentication outcome, a javascript error occured in your side:

simplecheckoutjs?v=PR_YzcgeWp89Jcf7LTy4GlU9K4a9SpGE3dZyoXpYHWs1:1 POST https://demo.vivapayments.com/web/checkout/getpaymenttoken 500 (Internal Server Error)

[2019-12-14 09:25] odysseas12 commented on #1258
@matthewrgourd
I send you an email a few days ago did you get it ?

[2019-12-15 11:25] nimaris opened #1268 "Redirect back to my site URL failed after Success Payment"
Some times (not all times) the redirection from vivawallet to my site success url not working. As a result, I cannot input successfully the transaction. I use Redirection/Native Checkout v2 method.

[2019-12-16 10:11] matthewrgourd commented on #1268
HI @nimaris, sorry to hear this. Can you let me know a bit more about your setup? Are you using an e-commerce platform with one of our [plugins](https://developer.vivawallet.com/e-commerce-plugins/) or is it a custom implementation. What's your web address? Thanks!

[2019-12-16 10:42] nimaris commented on #1268
I'm using custom setup and my web address is mobis.gr. Thanks.

[2019-12-16 10:42] Alvaroalconada opened #1269 "Validate online payment gateway"
Hi @matthewrgourd  I need quickly your help about this customer GONZALEZ SA
Please solve for me ASAP. This customer is very important
Is there anybody of your team that speaks French and call her? because I sent the proccedure that appears in CC-1227488 and she can´t continue with the process to validate pending account. Is so difficult for me communicate with her because just speaks french and al

[2019-12-16 10:55] matthewrgourd commented on #1256
I believe we have now also removed it from the sandbox. As I say, we know that many of our customers are disappointed so will try our best to get back to you with a solution.

[2019-12-16 11:14] matthewrgourd commented on #1269
Hi @Alvaroalconada I gather the merchant has now been informed by telephone about the pending elements for approving the source. I'm therefore closing this issue.

[2019-12-16 11:14] #1269 closed

[2019-12-16 11:15] matthewrgourd commented on #1268
Is the redirect not working sometimes in production or is it demo you're referring to?

[2019-12-16 11:17] matthewrgourd commented on #1268
Can I just confirm you've followed our instructions for [Redirect Checkout](https://developer.vivawallet.com/online-checkouts/redirect-checkout/) for the custom integration?

[2019-12-16 11:44] rikless commented on #1256
@matthewrgourd We're asking for a specific deadline. Time consumed to remove it from sandbox should have been used to make it live again in production. I really don't understand.

[2019-12-16 12:30] matthewrgourd commented on #1258
Hi @odysseas12 got that now – thanks. I can't see any issues with the account. Suggest you try a different card.

[2019-12-16 13:56] matthewrgourd commented on #1261
Hi @alexnuzh I have enabled 'Allow recurring transactions through the API' in your settings. Please try again. You should do this also in your [production account](https://members.vivawallet.com/en/signin) once you've set one up (Settings / API Access / 'Allow recurring payments').

[2019-12-16 13:57] matthewrgourd commented on #1266
@alexnuzh Please try again. I've adjusted one of your settings.

[2019-12-16 14:05] matthewrgourd commented on #1019
Hi @JulioIbro please send your Merchant ID to my email address (mgourd@vivawallet.com) referencing this issue and I'll hopefully be able to fix for you.

[2019-12-16 14:22] matthewrgourd commented on #1263
Hi @Laura345, on what date was the payment taken? Please email me your Merchant ID and company name so I can check your account. My email is mgourd@vivawallet.com.

[2019-12-16 14:24] odysseas12 commented on #1258
Matt this is a live account for a real client and real credit cards.

[2019-12-16 14:29] matthewrgourd commented on #1258
@odysseas12 I will get one of our developers to look into it.

[2019-12-16 14:39] alexnuzh commented on #1266
thanks but I still receiving error

https://prnt.sc/qbkh9p

PaymentToken=9WxXQ1MJ71BdtPDTJjuarWcESod1jdtfAj4Anc5pDq0h2XREmdvALAFbyXaNbQW2oSdBo7re8OtZRx94WRESQdegYqUqTCvowpvQmdS94HpWpFTmeKhpun3yMpNGfy7wBtXntaUEkD6e83C2IBzJ0vcPWDec3uRv12qn1j8Ds7dzDWkBqC0SjrhyI2dIJb0whpQl9fvpRT5H9WOKP2Q3NRJRXaoryqKCkTuX5nhO9EsQDQ1hi4m8c9OSVeInCf3OD+Z/yrk6DkSfptGpq5nJj/5YwlY2T5Bn+gDiJOtbxrUw2agKofFjHhgMVz/qxPBgR58MrBi

[2019-12-16 14:40] matthewrgourd commented on #1254
@GJFox1972 Which plugin is it you're referring to which needs its language changing? Need more info please.

[2019-12-16 14:46] matthewrgourd commented on #1253
@GJFox1972 Regarding the receipts being in Greek, you need to confirm that your Preferred language setting is set to English as in the image below:

![50774099-4fd37600-129b-11e9-8956-7c889a42c0de](https://user-images.githubusercontent.com/44943019/70916009-d3045c80-2012-11ea-9174-983ca8cea866.jpg)

[2019-12-16 15:04] matthewrgourd commented on #1213
Hi @yummyweed, sorry, can I just confirm that you've used the instructions from our [Native Checkout v2 guide](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/) to complete this implementation?

[2019-12-16 15:06] GJFox1972 commented on #1254
@matthewrgourd  cheers it was with the API that is being temporarily disabled so once It's sorted i will take it back up with you

[2019-12-16 18:03] pvflessa opened #1270 "Forbidden 403"
When I try to pay during checkout, I get the following error message at chrome console:
POST https://api.vivapayments.com/acquiring/v1/cards/chargetokens 403 (Forbidden).
I can't figure out if this is an issue with my code or if my client should modify his account settings.

[2019-12-16 18:16] nimaris commented on #1268
Not working sometimes in production mode. Yes, i have followed your instructions. I use the service for a long time in most cases with no problems.

[2019-12-17 09:26] Vincegypt commented on #1256
Hello @matthewrgourd,
Really its not possible, its just a reactivation, i'am sure you can understand our point of view.
We have engaged a lot of money because vivawallet is ok with this...

like @rikless i can't undestand, give us a real date, its not a problem to reactivate this fonction. Please continue to ask. Or better give us the direct contact to solve the situation, our position make us mor

[2019-12-17 11:13] matthewrgourd commented on #1270
Hi @pvflessa unfortunately this call is no longer available due to updates as a result of PSD2. Can you try https://api.vivapayments.com/nativecheckout/v2/chargetokens which we have made available instead?

[2019-12-17 11:20] matthewrgourd commented on #1019
Closing as no response.

[2019-12-17 11:20] #1019 closed

[2019-12-17 11:28] matthewrgourd commented on #1245
@Stratubas Step 4 should be made through a back-end channel, not a browser. Is this what you're doing?

[2019-12-17 11:31] matthewrgourd commented on #1247
Hi @rohitgilbile7 is this still a problem? If so., please send your full source code to mgourd@vivawallet.com referencing this issue and I'll get it checked out by a developer. Otherwise please close this ticket.

[2019-12-17 11:38] matthewrgourd commented on #1253
@theomandgr sorry for the delayed reply. Is your Viva Wallet Account Greek?

[2019-12-17 11:39] matthewrgourd commented on #1254
@GJFox1972 ok, I'm going to close this ticket for the time being but you can always reopen it.

[2019-12-17 11:39] #1254 closed

[2019-12-17 11:41] matthewrgourd commented on #1256
Hi all, sincerest apologies. I've asked the development team again for further info. I'll get back to you if I hear anything.

[2019-12-17 11:43] matthewrgourd commented on #1258
Hi @odysseas12 our dev team is requesting full request / response logs. Can you please send these to mgourd@vivawallet.com. Thanks.

[2019-12-17 11:49] matthewrgourd commented on #1268
Hi @nimaris can you email mgourd@vivawallet.com with your merchant id referencing this issue? I will then check your account.

[2019-12-17 12:18] rikless commented on #1256
@matthewrgourd I don't understand when you say

Ask your dev team for a response. I think you have to do your best, and can't wait for an optional answer. Handle this issue with your dev team, for real.

[2019-12-17 12:21] matthewrgourd commented on #1263
Hi @Laura345 I can't find any issues with your account. The transaction you mentioned by email went through fine so suggest you get in touch with Shopify.

[2019-12-17 12:21] #1263 closed

[2019-12-17 12:23] matthewrgourd commented on #1259
Hi @lilkitty22 please follow our [Shopify guide](https://developer.vivawallet.com/e-commerce-plugins/shopify/) to make sure you've added the plugin correctly.

[2019-12-17 12:35] matthewrgourd commented on #1256
@rikless Sure thing, I am chasing to the best of my abilities!

[2019-12-17 13:11] odysseas12 commented on #1258
Hi Matt,
Unfortunately I dont have request logs, its on a live site and on certain failed transactions that is the response I get back.
Its not an issue I can reproduce, it randomly happens maybe 1 or 2 times every 100 transactions.

[2019-12-17 13:14] odysseas12 commented on #1258
If you could just let me know what the error suggests.
Is it a problem on my end ? a problem on your end ? or is it an issue of the credit card ?

[2019-12-17 13:24] matthewrgourd commented on #1268
Hi @nimaris thanks for sending through your merchant ID. I see that you have several payment sources set up. Could you provide the 4-digit number for the one you're having problems with? Thanks!

[2019-12-17 13:48] #1261 closed

[2019-12-17 13:51] matthewrgourd commented on #1268
Hi @nimaris thanks for sending through the payment source ID. I can't see any issues there either so will have to think about it a bit more before getting back to you.

[2019-12-17 14:22] pRieStaKos opened #1271 "VivaWallet Fee"
Καλησπέρα,

Μπορεί κάποιος να μου πει το fee της Viva για πληρωμές με Redirect Checkout ?
Έχω μείνει στο `2.9%` + `0.20€` / συναλλαγή

Ευχαριστώ.

[2019-12-17 14:41] matthewrgourd commented on #1267
Hi @zissop I've just tried this myself and the only way I've been able to recreate your issue is if I attempt to use the demo card details against a production account. The demo card details against a demo account are fine: the red X button never appears.

[2019-12-17 14:48] zissop commented on #1267
No, we use the demo URLs.

<button id="viva_button" type="button"
                            data-vp-publickey="xxxx"
                            data-vp-baseurl="https://demo.vivapayments.com"
                            data-vp-lang="el"
                            data-vp-amount="<%=sAmount%>"
                            data-vp-merchantref="<%=OrderId%>"
                            data-vp-de

[2019-12-17 15:00] matthewrgourd commented on #1267
Very strange, I just tried the above with my own (demo) key and an amount of 100 and still the green tick symbol is displayed rather than a red cross. I chose 'Success' as the 3DS option.

[2019-12-17 15:40] marketima commented on #1205
hi, i face again this issue:

2019-12-17 12:52:25
Response: {"status":403,"message":"PaymentsPolicyCreditRestriction","eventId":"2105"}

can you check it please, as it cause big trouble and in support nobody reply my email almost 20 days as well i call to support by phone.

[2019-12-17 15:42] marketima opened #1272 "status":403,"message":"PaymentsPolicyCreditRestriction"
hi,

i am use native checkout v2 (3ds) and i fae this issue:

2019-12-17 12:52:25
Response: {"status":403,"message":"PaymentsPolicyCreditRestriction","eventId":"2105"}
-------------
can you check it please, as it cause big trouble and in support nobody reply my email almost 20 days as well i call to support by phone.

[2019-12-17 15:56] matthewrgourd commented on #1205
Hi @marketima, sorry to hear this, I'm checking with our development team.

[2019-12-17 15:57] #1205 closed

[2019-12-17 15:57] matthewrgourd commented on #1272
Hi @marketima, sorry to hear this, I'm checking with our development team.

[2019-12-17 16:10] matthewrgourd commented on #1272
Hi @marketima I've checked and there's a restriction on your account. Please speak to your nearest Viva Wallet customer services team. There's nothing I can do from here I'm afraid.

<table><tr><th>Country</th><th>Phone number</th>
  <tr><td>Belgium</td><td>(+32) 2342 0790</td></tr>
    <tr><td>Cyprus</td><td>(+357) 2403 0211</td></tr>
    <tr><td>France</td><td>(+33) 1876 50765</td></tr>
    <tr>

[2019-12-17 16:10] #1272 closed

[2019-12-17 17:00] marketima commented on #1272
are you sure? as i see in my vivawallet console- no any restriction, i call (and still with support in greece)- and they know nothing about it... so i really don't know what to do.
what is the reason? how to solve it?

[2019-12-17 19:17] Vincegypt commented on #1256
Really i'am at the same point as @rikless i don't hear a lot of motivation, it's definitly not your money engaged. Please send us a link to discuss directly with the team in charge of the activations. It's not a problem of abilities, its just not an option for us to activate this, our projects just need this to be finished i don't know if you really understand the situation.

Please add the good p

[2019-12-17 19:19] Vincegypt commented on #1256
you can't say something more stressfull than "if i hear something" ....

[2019-12-17 19:56] Stratubas commented on #1245
I'm doing step 4 through a locally hosted node server.

[2019-12-18 08:42] alexnuzh commented on #1266
Hi

Any news here? Still getting error and cannot put this on live site :(

[2019-12-18 09:16] evandoulas commented on #1162
Source Code ?

From: matthewrgourd [mailto:notifications@github.com]
Sent: Monday, November 25, 2019 6:41 PM
To: VivaPayments/API <API@noreply.github.com>
Cc: Evangelos Vandoulas <evandoulas@newsphone.gr>; Mention <mention@noreply.github.com>
Subject: [Marketing Mail] Re: [VivaPayments/API] προβλημα login στο demo account (#1162)

Closed #1162<https://github.com/VivaPayments/API/issues/1162>.

—
Y

[2019-12-18 09:21] matthewrgourd commented on #1266
Hi @alexnuzh sorry to hear this. Please send through full request / response logs. What tool are you using to create the output shown in your screenshot?

[2019-12-18 09:23] matthewrgourd commented on #1245
Hi @Stratubas you said "the original "Server Error" is shown in https://demo.vivapayments.com/selfcare/en/sales/mysales". Can you attach a screenshot of this?

[2019-12-18 09:31] matthewrgourd commented on #1256
@Vincegypt, I've just messaged my colleague and asked him to reply on here saying what's going on.

[2019-12-18 09:39] alexnuzh commented on #1266
Hi see please below 👍
http://hobbymounts.arthur.antropy.co.uk/viva.php
then I enter https://prnt.sc/qcghi8
then https://prnt.sc/qcghp2
then second script https://hobbymounts.arthur.antropy.co.uk/index.php?route=competition/vivawallet/callback2 do STEP 2
I send by POST 1 variable
https://prnt.sc/qcgibf

thats all

[2019-12-18 09:55] Vincegypt commented on #1256
Hi @matthewrgourd , ok thanks we wait for more informations.

[2019-12-18 10:04] matthewrgourd commented on #1272
Hi @marketima, yes, I'm sure, it's an account restriction on your business "MSA UG". If customer service are unable to lift it for whatever reason then you can't use are API.

[2019-12-18 10:42] gkopeliadis opened #1273 "Prestashop 1.7 issue with Vivawallet Website/App"
Προσπαθώ να ενσωματώσω το module της Vivawallet στο κατάστημα radshop.gr που είναι φταγμένο στο Prestashop 1.7.4
Έχω ακολουθήσει τις οδηγίες από https://developer.vivawallet.com/e-commerce-plugins/prestashop/
Έχω τσεκάρει τη διαδικασία 3 φορές.

Όλα πάνε καλά μέχρι και την πληρωμή του πελάτη με πιστωτική κάρτα. Στην επιστροφή στο κατάστημα δεν μπορώ να το στείλω στην κατάλληλη σελίδα για να ολοκλη

[2019-12-18 11:23] VivaWalletSupport commented on #1273
Hello, please provide following screenshots:

Payment module settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the browser's URL in the screenshot).

[2019-12-18 12:18] gkopeliadis commented on #1273
Στις Τετ, 18 Δεκ 2019 στις 1:23 μ.μ., ο/η Tom van der Veer <
notifications@github.com> έγραψε:

--
Γιώργος Κοπελιάδης

[2019-12-18 12:47] SBO-FRTN opened #1274 "The specified api action is disabled for the merchant"
Hello @matthewrgourd, can you please do the same as you did for us [here](https://github.com/VivaPayments/API/issues/1231#issuecomment-558177121)

New Merchant ID : 0eaaf41b-704d-41e5-84da-0e9b835c0318

Thank you in advance!

[2019-12-18 13:34] Stratubas commented on #1245
Hey @matthewrgourd . Here's your screenshot
![Screen Shot 2019-12-18 at 15 32 50](https://user-images.githubusercontent.com/9803561/71090489-cd8e4a00-21ab-11ea-8103-8f68e1e63dc7.png)

[2019-12-18 13:47] matthewrgourd commented on #1266
Hi @alexnuzh, after further investigation this issue relates to your server implementation when posting to api/transactions. We've checked and everything is ok at the Viva Wallet end. Sorry not to be able to help any further. Thanks! Matt

[2019-12-18 13:47] #1266 closed

[2019-12-18 13:54] matthewrgourd commented on #1274
Hi @SBO-FRTN that's done now (and I've obscured your Merchant ID from the forum.)

[2019-12-18 13:54] #1274 closed

[2019-12-18 14:09] alexnuzh commented on #1266
Thanks but may be you have some PHP example of server part because I am sure I all did in correct way

[2019-12-18 14:28] matthewrgourd commented on #1245
Hi there, this error occurs from time to time on the demo server. I believe you can simply refresh the page to remove the error. Please rest assured the production environment is a completely different story.

[2019-12-18 17:54] Stratubas commented on #1245
@matthewrgourd Refreshing the page does not remove the error. Even changing computer and OS does not remove the error. The error has been there for almost 20 days. Not exactly "from time to time" :) So how are we supposed to develop a new application? With our real credit cards in the production server?

[2019-12-19 01:47] xiaoyao929 commented on #1215
you didn't solved my question,  when customer has a failed transaction,  we can't know the exactly reason for this failed transaction, such as his card bank hold his transaction etc.

[2019-12-19 06:00] ntourziotis opened #1275 "J2store - Joomla Extension"
Greetings dear support team,

I would like to install on my joomla site your viva wallet plugin. I am using the J2store plugin.

Could you please let me know which one of your extension should i have to install in my site?

Best regards

Ioannis

[2019-12-19 09:12] matthewrgourd commented on #1245
Hi @Stratubas, sorry, I didn't realise that. I'll get them to reboot the demo server.

[2019-12-19 11:57] WoodyLine opened #1276 "Trouble with some payments : payments failed"
We suscribe to vivawallet 2 weeks ago, and we use the method with token on Shopify (which was adviced by VivaWallet on them website). Their is a problem because many payments failed, and many customers contact us to say that they have money, but the payment failed every time.
How can we resolve this problem ?
Is there any other method to install VivaWallet on Shopify ?
Thank you

[2019-12-19 12:58] farawayland opened #1277 "3D Secure"
The 3D secure solution is required at checkout as our site does not keep a list of cards used at checkout by the clients

[2019-12-19 13:42] matthewrgourd commented on #1277
Hi @farawayland, I'm sorry, could you elaborate on what it is you need from us? How may we help exactly?

[2019-12-19 13:50] matthewrgourd commented on #1275
Hi @ntourziotis  I'm sorry, we do not have a plugin available for J2Store. Are you based in Greece? Here is a list of the supported payment gateways: https://www.j2store.org/j2store-payment-gateways/united-kingdom.html

[2019-12-19 13:50] #1275 closed

[2019-12-19 14:01] farawayland commented on #1277
also that the transactions are With a big delay to be process and that you have complaines because we do not store customer card information and those who do not have 3D secure set up with the card providers are unable to complete checkout regardless of number of attempts. Is it possible to get a popup for onsite 3D SMS to client phones?

[2019-12-19 14:05] matthewrgourd commented on #1271
Hi @pRieStaKos the acquiring fee is set by Viva Wallet according to your sales volumes. Please check with our customer service team, contact details below:

<table><tr><th>Country</th><th>Phone number</th>
  <tr><td>Belgium</td><td>(+32) 2342 0790</td></tr>
    <tr><td>Cyprus</td><td>(+357) 2403 0211</td></tr>
    <tr><td>France</td><td>(+33) 1876 50765</td></tr>
    <tr><td>Greece</td><td>(+30) 2

[2019-12-19 14:05] #1271 closed

[2019-12-19 14:10] farawayland commented on #1277
![image](https://user-images.githubusercontent.com/59052523/71179859-e7da2d80-2268-11ea-986e-f2b354a4618c.png)
on occasion i will pay an old debt by posting a company bond from my computer using a discarded purchase but there is no card required to flip the order to processing from pending. However, numerous clients who have no 3D secure setup are failing to complete orders since we have no method

[2019-12-19 14:17] matthewrgourd commented on #1276
Hi @WoodyLine Sorry to hear this. Did you receive any error messages while you followed our [installation guide](https://developer.vivawallet.com/e-commerce-plugins/shopify/)? If not, and most of your customers are managing to make payments successfully, then I suggest they try a different payment method. If any errors have occurred, please send through screenshots if possible?

[2019-12-19 14:34] matthewrgourd commented on #1277
Hi @farawayland I notice you're using WooCommerce on WordPress. First I need to ask you if you've installed our [official plugin](https://developer.vivawallet.com/downloads/vivawallet-for-woocommerce.zip) by following the instructions here: https://developer.vivawallet.com/e-commerce-plugins/woocommerce/. There are several unsupported Viva Wallet plugins out there hence why I have to check.

[2019-12-19 14:36] matthewrgourd commented on #1256
Hi @Vincegypt, @rikless, @jahazzz, @thefisherbox, @GJFox1972, I've just been informed by our development team that a fix is being worked on for rollout tomorrow. I'll update you again as soon as I have more details.

[2019-12-19 14:54] farawayland commented on #1277
the developer got the plugin directly from vivawallet and it was authenticated by Marco Nobre the rep in Portugal

[2019-12-19 14:58] farawayland commented on #1277
the plugin works well and have made numerous purchases and payments to my bank  account. The vivawallet team has detected no problems with their database this morning.
"As far as your account is concerned, we do not spot any problem regarding its functionality, so we kindly ask you to let us know about the problems your customers face as well as forwarding us a screenshot showing such issues."

[2019-12-19 15:27] pdx169 opened #1278 "Refund option not available"
I am trying to refund a couple of transactions that were made a few months ago from with the dashboard.

I cannot see any options to make a refund. Can you please let me know how a refund is done?

Thank you

[2019-12-19 17:04] WoodyLine commented on #1276
the integration of viva wallet is successfully done. but we still refused our payment when there is money on the account and 3dsecure validation done. here is the screenshot just after validation of 3dsecure with a full bank [account.
![IMG_2333](https://user-images.githubusercontent.com/59024488/71193147-ea994a80-2289-11ea-8985-9e594df87495.jpg)

[2019-12-20 06:58] matthewrgourd commented on #1278
Hi there, if you could send through your Merchant ID and business name to mgourd@vivawallet.com, referencing this issue, I'll have a look for you.

[2019-12-20 10:05] matthewrgourd commented on #1277
@farawayland I'm raising this with our development team. I'll let you know when I have an answer.

[2019-12-20 13:28] #1253 closed

[2019-12-20 13:28] #1247 closed

[2019-12-20 13:30] matthewrgourd commented on #1245
Any change?

[2019-12-20 13:31] #1259 closed

[2019-12-20 14:38] matthewrgourd commented on #1245
Hi @Stratubas, sorry for the delay, the demo server has been fixed now. Obviously any further issues don't hesitate to get back to us!

[2019-12-20 14:38] #1245 closed

[2019-12-20 19:16] rikless commented on #1256
@matthewrgourd Thanks for being in touch. Today we are `tomorrow`. Is that ok ?

[2019-12-20 23:22] smartfits opened #1279 "I am reissuing this problem because you didnt address nothing and you clearly can"
I have connected VivaWallet with Shopify but I have 2 issues
I want to change the "Credit or Debit Card" text to translate it to Greek
After the redirection to VivaPayments page the Viva Page is in english while my whole website is in greek. (vivapayments.com/web/checkout?lang=en is the default)
Below I have images with the issues
http://prntscr.com/ptofew
http://prntscr.com/ptofne

Your Reply
"Hi

[2019-12-20 23:32] Stratubas commented on #1245
@matthewrgourd Ahh, nice. Finally I can see how "capture" works. Thanks.

[2019-12-21 12:27] rohitgilbile7 commented on #1247
Hello,
I am getting an empty response when I make a request from my backend to make an actual charge.
When I print HTTP request code in a response I receive 401.
Below is my sample full source code.

[code]

For authorization my base 64 encoding client ID & secret key.
Also Can you please let me know the transaction URL to make the actual charge. Is this correct

[2019-12-21 16:00] WoodyLine commented on #1276
![yyy](https://user-images.githubusercontent.com/59024488/71310336-52c76800-2413-11ea-8018-7aa86023e9e2.PNG)

[2019-12-21 16:01] WoodyLine commented on #1276
I have a lot of payment like this one which is in check.

[2019-12-22 13:53] gkopeliadis commented on #1273
![Untitled-1](https://user-images.githubusercontent.com/59015085/71322694-2541f380-24d3-11ea-885d-d33e47402029.png)
![Untitled-3](https://user-images.githubusercontent.com/59015085/71322695-2541f380-24d3-11ea-888c-cedf1c68cc65.png)
![Untitled-2](https://user-images.githubusercontent.com/59015085/71322696-2541f380-24d3-11ea-8816-4ba4fb7f58c9.png)

[2019-12-22 16:58] greekuser987 opened #1280 "Προβλημα με Native Checkout v2"
Καλησπέρα

Προσπαθώ να μεταβώ στην καινούργια σας πλατφόρμα  Native Checkout v2
κάνοντας δοκιμές με ένα demo Viva Account

Χρησιμοποίω ASP.NET

Έκανα επιτυχώς τα 4 steps όπως τα γράφετε στην σελίδα https://developer.vivawallet.com/online-checkouts/native-checkout-v2/

**στο 5ο step παίρνω πάντα response (401)  unauthorized**

Αφου έχω πάρει το charge token.

Κάνω π.χ. HTTP request στο Url (με το A

[2019-12-22 19:10] pvflessa opened #1281 "Viva checkout issues-clarifications for use of the platform in other languages"
We recently used viva payment on behalf of a client for his website. He has submitted certain questions and raised issues he requires assistance with.

- what happens if a buyer does not use a cellphone? Is there an alternative method of receiving the OTP code or is he disqualified from using the platform?
- OTP FORM: Depending on the website's language, I send the corresponding "requestLang" but

[2019-12-22 19:36] #1270 closed

[2019-12-22 19:37] pvflessa commented on #1270
That was it. Thank you

[2019-12-23 04:51] VivaWalletSupport commented on #1273
Please follow the instructions given at https://developer.vivawallet.com/e-commerce-plugins/prestashop/ to the letter and correct the return URLs in your payment source.

[2019-12-23 10:05] pdx169 commented on #1278
Hi Matthew,

Thank you for the reply.

I have now worked out how to do the refunds. I was just looking through the list of transactions in the dashboard. When I search using the Sales Transactions from the menu on the left I can see the option to refund from the list of returned transactions.

Best regards,
Bart

[cid:image001.png@01D5B978.750EDCA0]

Paradox Limited
169 Old Christchurch Road
Bourn

[2019-12-23 10:07] #1278 closed

[2019-12-23 10:17] gkopeliadis commented on #1273
Prestashop expects data and parameters from the applet. It's not a static page that you should return to. The return page is something like:
https://www.radshop.gr/index.php?controller=order-confirmation?key=b492a5fab023685eb6b64749302d6642&id_cart=3727&id_module=58&id_order=778
I tried prestashop with other bank -creditcard modules and works OK.
Am I missing something here?

[2019-12-23 12:43] Stratubas opened #1282 "Native checkout v2 preauth EXPLOIT"
Hello again.

Charge tokens generated at
https://demo-api.vivapayments.com/nativecheckout/v2/chargetokens

have an "Amount". This is the amount that I see in the bank's authorisation page.

However, when making a transaction with preauth at
https://demo-api.vivapayments.com/nativecheckout/v2/transactions

there is another "amount". This appears to be the actual payment amount.

The first "Amount"

[2019-12-23 13:07] Stratubas opened #1283 "Native checkout v2 - how to reuse a card - is 3DS mandatory"
We were requested to have our mobile apps updated to use native checkout v2.

Going through the documentation at
https://developer.vivawallet.com/online-checkouts/native-checkout-v2/

it doesn't seem that a card can be used more than once.

In our existing mobile app, which uses an older viva API, the "transaction_id" could be used to use the same card multiple times. Is there anything similar in

[2019-12-23 14:35] VivaWalletSupport commented on #1273
When using the URLs as instructed, the module will handle the response from Viva and redirect to the order confirmation page with the correct parameters. The URLs you are using in the payment source (no idea where you got them from) do not interact with the module (not updating the order status).

[2019-12-26 09:13] Vincegypt commented on #1256
Hi everyone, yes @matthewrgourd do you have some good news?

[2019-12-26 20:05] gkourtis opened #1284 "I need to access the wallets and their transactions."
I follow the directions of the account api, I am able to get the token, but at the end when I do the get to I get a "403 Forbidden
nginx/1.4.6 (Ubuntu)"

I am doing the get from "https://uat-api.vivapayments.com/api/Wallets';

Does the account api works correctly ?

[2019-12-27 10:49] rcpassos opened #1285 "Mobile app integration"
Hi,
How can I integrate this API in a Mobile app?
How can I send the credit card info to the API?

Thanks,

[2019-12-28 11:50] atr0x23 opened #1286 "Migrating from Native Checkout v1 (wordpress-site)"
Hello,

Our programmer isn't available this period and I need your help to migrate online vivapayments to V2.

My company's e-shop is: coffeebrandsdelivery.gr and is a wordpress. Now it is using a plugin which is: VivaPayments WooCommerce Payment Gateway by emspace.gr. Is there a new plugin that I have to download an replace this one, or what is the procedure I have to follow to fix it? Do I need

[2019-12-29 09:23] rohitgilbile7 opened #1287 "Native Checkout V2 giving me 401 error code."
Hello,
I am following your [documentation ](https://developer.vivawallet.com/online-checkouts/native-checkout-v2/)to implement Native Checkout V2. When I am trying to make the actual charge. I am getting a response 401.

Here is my sample code.
[code]

[2019-12-29 15:35] KAILone opened #1288 "OpenCart 3 "Trying to get property 'ErrorCode' of non-object""
When I'm trying to checkout on the demo profile I get this error:
![Screenshot](https://user-images.githubusercontent.com/11787805/71558954-55543e00-2a61-11ea-8962-490b3c5eafe9.png)

And the code is:
<img width="798" alt="Screenshot" src="https://user-images.githubusercontent.com/11787805/71558796-8cc1eb00-2a5f-11ea-9255-64a0e049b2df.png">

Why doesn't it see the objects?

[2019-12-29 16:26] Planthaya opened #1289 "Need to download transactions as CVS file"
I need to download a CVS file of transactions to upload onto accounting software but don't seem to be able to find an option to do so

[2019-12-29 19:18] gkourtis commented on #1287
I have the same problem ! I am able to get the token but afterwards the request does return 401

[2019-12-29 19:40] gkourtis commented on #1289
I need the same but programmatically in order to update our accounting software

[2019-12-30 07:16] VivaWalletSupport commented on #1288
Hello, you get a notice, not an error. Disable notices on a production environment.

[2019-12-30 07:41] KAILone commented on #1288
Ok. But when I click on “confirm checkout” I get 404 error on https://www.vivapayments.com/web/newtransaction.aspx

![B0A500B2-5D7D-4E18-9D6D-20614E378171](https://user-images.githubusercontent.com/11787805/71572569-714ef280-2ae8-11ea-8177-70733cac0454.jpeg)

[2019-12-30 08:19] VivaWalletSupport commented on #1288
Please provide following screenshots:

Payment plugin settings (mask the API Key).
Viva Wallet payment source settings (include the browser's URL in the screenshot).
Viva Wallet Websites/Apps page (include the browser's URL in the screenshot).
API Access page (mask API Key, include the browser's URL in the screenshot).

[2019-12-30 09:59] KAILone commented on #1288
@VivaWalletSupport
1) Plugin setting:
![E219D4E1-5DCF-42F2-B50F-FDD7DB6369ED](https://user-images.githubusercontent.com/11787805/71577004-2e4a4a80-2afb-11ea-9729-ad90e7c371bb.jpeg)
2) Not quite sure what is that.
3) Website page:
![33C09D55-CCEE-4B17-A04E-1E1532DADA3F](https://user-images.githubusercontent.com/11787805/71577011-386c4900-2afb-11ea-9a31-93d28d2524a9.png)
4) API page:
![35116E02-FD07

[2019-12-30 10:50] VivaWalletSupport commented on #1288
You are using the live URLs in the plugin settings mixed with the credentials from your Viva demo account.

[2019-12-30 11:49] KAILone commented on #1288
Oh. My bad. I tried to use the wrong demo site before. www.demo.vivapayments.com instead of just demo.vivapayments.com.
Thank you.

[2019-12-30 11:49] #1288 closed

[2019-12-30 11:57] WebWars opened #1290 "Native Checkout V2 issues."
I wanted to implement Native Checkout v2 but I am stuck at getting the access token. I tried to use postman as I saw in another thread but while on postman seems to work on my page I either get blank response using this for example

[code]

or I get CORS error when I try to use jquery

[code]
Can you please give us an example in php or js?

Thank you in advance

[2019-12-30 15:13] varungoswami commented on #1203
Hi Michael,
Could you please check why we having so many refusals on payments, please.

Thank you,
Best Regards,
Varun Goswami

[2019-12-31 15:56] vasilevich opened #1291 "NativeCheckout v2 ERROR 502"
Hello, I've tried to implement /nativecheckout/v2/transactions in PHP

Getting TOKEN with 0AUTH2:  OK
Getting Charge Token 3DS system : OK
Getting Order Code : OK
**Performing the actual transaction with the charge token : FAIL**
I send:
[code]

I recieve:

[code]

According to your documentation: Error 502 is on your(vivawallet.com) side

Please resolve the issue, or atleast give the appropiate e

[2019-12-31 16:08] vasilevich commented on #1290
Hello, I am not part of the VivaPayments, but I managed to get a token like so:

first install this with composer:
[following this library to get 0auth2 token:](https://github.com/thephpleague/oauth2-client)
`composer require league/oauth2-client`

And then my implementation of obtaining the token with the library:
set  $clientId  and $clientSecret according to your control panel [see how here](ht

[2020-01-02 11:20] rajdeeporbsys commented on #1252
Hello,

As from your guidance i make it live but still facing access denied issue.

Access Denied
You don't have permission to access "http://www.vivapayments.com/web/checkout?" on this server.
Reference #18.51c2017.1577963421.b8b518f9

Please resolve

[2020-01-02 11:22] rajdeeporbsys opened #1292 "Getting Access Denied issue for Live environment and instances are already of https"
Hello,

Am getting access denied error while going for viva wallet checkout page.

Access Denied
You don't have permission to access "http://www.vivapayments.com/web/checkout?" on this server.
Reference #18.51c2017.1577963421.b8b518f9

Please resolve

[2020-01-03 09:09] rikless commented on #1256
Hi @matthewrgourd it's now 15 days since you said tomorrow, and we still don't have any news.

[2020-01-03 18:11] Vincegypt commented on #1256
Hi everyone, yes @matthewrgourd do you have some good news?

[2020-01-05 13:34] Harshp13 opened #1293 "Redirection/Native Checkout v2 Problem"
Hi, ever since i have had viva wallet merchant i have some orders that do not go through after customers try to place orders they get cancelled.

Can i have some assistance please ?

Regards

[2020-01-06 10:06] Oanicica opened #1294 "Redirect Checkout - cancelled transactions"
hello!

Merchant Abundant hamza s.r.l is using redirect checkout for his website hamza.ro, built on WordPress.
Issue no.1: They have a lot of cancelled transactions (photos attached).
Let me know what details do you need in order to get it from them and resolve this issue.

Issue no.2: they want to accept payments in EUR (from cards issues in EUR). what do they need to do?
<img width="287" alt="Ha

[2020-01-06 10:47] Vincegypt commented on #1256
Hi @matthewrgourd please send us some news, we don't have time for holidays here ... :-) we just want to move forward with this point.

thanks

[2020-01-06 11:35] championcbd opened #1295 "Getting Viva wallet website app to be active and redirect issue"
We have 2 issues.
1.
The first is we have created a website/app for the WordPress woocommerce website as denoted here https://developer.vivawallet.com/e-commerce-plugins/woocommerce/.  After creating this, we have waited for over a week only for this message to appear:
"Changes to existing electronic sources might need to be approved first by Viva Payments. Please keep in mind that this action can

[2020-01-06 11:35] matthewrgourd commented on #1256
Hi @rikless, @Vincegypt, I'm finding out for you now (it's my first day back after the Christmas break).

[2020-01-06 12:36] Vincegypt commented on #1256
Hi @matthewrgourd  thanks

[2020-01-06 12:53] indicabeauty opened #1296 "Urgent"
I’ve submitted all ID etc. It’s ok taking payments fine but can’t make payments from account it’s saying contact support for more. Could you please fix this issue ASAP.
As we would like to launch today Thanks

[2020-01-06 15:16] matthewrgourd commented on #1294
Hi @Oanicica, sorry to hear you're experiencing difficulties. Looks like you're using the default timeout for payments which is only 300 seconds (5 minutes). You need to set the parameter to your own preference or `65535` if you want a payment order to never expire. Please see `PaymentTimeOut` under [Create payment order](https://developer.vivawallet.com/api-reference-guide/payment-api/#tag/Paymen

[2020-01-06 15:50] matthewrgourd commented on #1296
Hi @indicabeauty, sorry to hear you're experiencing problems. Can I just check if you're attempting to make payments using your Viva Wallet business debit card? Or is it transfers to another account you can't action? I'll need to check your account in the first instance. Please send me an email containing your Merchant ID and business name and referencing the GitHub issue number (#1296): mgourd@vi

[2020-01-06 15:58] indicabeauty commented on #1296
Hi,

The merchant id is 34389344 the business name is Indica Beauty Ltd

It wont let us make transfers as its saying the feature is disabled contact support.
We want to launch our business this evening and wouldl ike this resolved before hand.

Thanks
Tomas William-Grimwood

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: matthe

[2020-01-06 16:03] Oanicica commented on #1294
@matthewrgourd The modification is ok to be done in our module? they found the problem but they say it's set this way and the modification will affect other users and future releases as well. I hope I'm making sense :)

[2020-01-06 16:07] matthewrgourd commented on #1294
Hi @Oanicica which module are you using, can you tell me where you downloaded it from? Sounds like it might not be our official package.

[2020-01-06 16:09] matthewrgourd commented on #1296
That's not your Merchant ID unfortunately. Ok, sounds like transfers are disabled so you'll need to contact support anyway. Please dial the appropriate number from our [Contact us](https://www.vivawallet.com/en-eu/contact-us/) page.

[2020-01-06 16:17] matthewrgourd commented on #1293
Hi @Harshp13 sorry to hear this. Please can you tell me which of our products / services you're using. Is it an e-commerce [plugin](https://developer.vivawallet.com/e-commerce-plugins) (e.g. Viva Wallet for WooCommerce or Shopify), [online checkout](https://developer.vivawallet.com/online-checkouts) or are you integrating using our [Payment API](https://developer.vivawallet.com/api-reference-guide

[2020-01-06 16:18] matthewrgourd commented on #1292
Sorry to hear this. Can you send me a link to the page before the Viva Wallet checkout page?

[2020-01-06 16:20] Harshp13 commented on #1293
Viva Wallet for WooCommerce
https://cbdhempking.co.uk/

[2020-01-06 16:21] matthewrgourd commented on #1291
Hi there, there appears to be an x-viva-eventId returned of 10005 meaning the issuing bank declined the transaction without an explanation. Have you tried using a different card?

https://developer.vivawallet.com/api-reference-guide/error-codes/

[2020-01-06 16:23] matthewrgourd commented on #1290
Hi @WebWars sorry for the delayed reply but our office was closed over the Christmas / NY period. Did @vasilevich's response help?

[2020-01-06 16:26] matthewrgourd commented on #1289
@Planthaya there should be an 'Export to Excel' button on the following page in the banking app: https://members.vivawallet.com/selfcare/en/sales/mysales

@gkourtis Apologies, we don't currently have a function available to do this via our API.

[2020-01-06 16:31] matthewrgourd commented on #1284
Hi @gkourtis apologies, although it's mentioned in the documentation, our Account API has yet to be launched. I don't know when it will be live.

[2020-01-06 16:31] #1284 closed

[2020-01-06 16:34] matthewrgourd commented on #1286
Hi there, if you're using our official plugin for WooCommerce you don't need to make any changes as it is already 3DS enabled. However, it sounds like you've installed something else in which case please follow the instructions below to download and install Viva Wallet for WooCommerce after removing any previous versions.

https://developer.vivawallet.com/e-commerce-plugins/woocommerce/

[2020-01-06 16:56] matthewrgourd commented on #1293
Looks like you're using an unofficial Viva Wallet plugin for WooCommerce. Please remove the current version then download and install the correct plugin using the below installation instructions.

https://developer.vivawallet.com/e-commerce-plugins/woocommerce/

[2020-01-06 18:19] Harshp13 commented on #1293
![Screenshot (136)](https://user-images.githubusercontent.com/59532354/71838458-c2df1a80-30b0-11ea-98e3-e9e6aed9e7cb.png)

ok i have done that what does installments mean what do i set it to ?

[2020-01-06 19:59] human-cbd commented on #1174
Hello, I think the problem comes from the database.

At the beginning of December I emptied all the tables corresponding to the plugin to uninstall it correctly, by reinstalling it I managed to access your payment module and place an order (victory).
I left the payment module that I used for the holidays because I did not have time to take care of vivawallet. Today I want to stop my old payment mo

[2020-01-06 21:47] vasilevich commented on #1291
yes, since then different cards worked, please add more detailed errors next time in the response,  because your documentation says 502 is on YOUR side.

thanks

[2020-01-07 08:41] Oanicica commented on #1294
Hi @matthewrgourd . They took it from here: https://developer.vivawallet.com/e-commerce-plugins/woocommerce/.
Version 3.5.7.
![WhatsApp Image 2020-01-07 at 10 37 30 Hamza](https://user-images.githubusercontent.com/53224411/71881042-38db9400-313a-11ea-9f6f-36d13e526679.jpeg)

[2020-01-07 09:13] matthewrgourd commented on #1291
The error code of '10005' that I mentioned is documented and clearly states that the problem is at the card issuer end. Best wishes.

[2020-01-07 09:13] #1291 closed

[2020-01-07 09:54] matthewrgourd commented on #1267
Closing issue as unable to recreate.

[2020-01-07 09:54] #1267 closed

[2020-01-07 10:00] matthewrgourd commented on #1277
Added to roadmap

[2020-01-07 10:00] #1277 closed

[2020-01-07 10:05] matthewrgourd commented on #1258
Hi @odysseas12, if it's an intermittent issue I'm not sure what it means. Can you remind me how you've implemented our payment platform? Is it using Native Checkout v2?

[2020-01-07 10:10] matthewrgourd commented on #1277
Hi @farawayland, one of our developers just got back to me with the following:

I don't know if that helps at all.

[2020-01-07 10:18] matthewrgourd commented on #1279
Hi @smartfits, apologies for the inconvenience. I'm not sure why this is the case so I'm checking with one of our developers. I'll get back to you as soon as I've an update.

[2020-01-07 10:20] matthewrgourd commented on #1256
@rikless @Vincegypt apparently it was a bank holiday in Greece yesterday. I didn't know this as I'm based in the UK. Chasing again today...apologies again for the delay.

[2020-01-07 10:26] matthewrgourd commented on #1135
Hi @TIWD, apologies for the delay, our offices were closed over the Christmas / NY period. Can you send me a screenshot of the relevant payment source settings window from your Viva Wallet account? Available at https://members.vivawallet.com/selfcare/en/sources/paymentsources Should look something like the below:

![Screenshot 2020-01-07 at 10 26 17](https://user-images.githubusercontent.com/44943

[2020-01-07 10:40] matthewrgourd commented on #1280
Hi @greekuser987 do you use the bearer token in the authorization header as described [here](https://developer.vivawallet.com/authentication/#demo-environment)? 401 implies that there is an issue in this area.

[2020-01-07 11:17] matthewrgourd commented on #1281
Hi there, please can I have the web address of your client (where you added our payment gateway) and could you confirm which method was used to integrate with our platform ([online checkout](https://developer.vivawallet.com/online-checkouts), e-commerce [plugin](https://developer.vivawallet.com/e-commerce-plugins) or [Payment API](https://developer.vivawallet.com/api-reference-guide/payment-api/))

[2020-01-07 11:19] matthewrgourd commented on #1285
Hi @rcpassos which API are you referring to? Please provide more details of what you're trying to achieve.

[2020-01-07 11:21] matthewrgourd commented on #1283
Hi @Stratubas, I need to check your query with a developer. I'll get back to you when I've an answer.

[2020-01-07 11:22] matthewrgourd commented on #1282
Hi @Stratubas, I need to check your query with a developer. I'll get back to you when I've an answer.

[2020-01-07 11:23] #1296 closed

[2020-01-07 11:31] matthewrgourd commented on #1256
@GJFox1972, @mohitpand, @rikless, @jahazzz, @Vincegypt, I'm told the functionality is now available again. In fact, apparently it was restored before Christmas I just didn't have the confirmation. Can you try out and let me know if any further issues? Thanks!

[2020-01-07 11:50] matthewrgourd commented on #1294
Hi @Oanicica, ok, so you're using our official WooCommerce plugin, great! So all you have to do is adjust the timeout value by editing the wc-vivawallet.php file that is located in the plugin folder. change PaymentTimeOut=300 to the desired amount of seconds. The plugin folder is located here in your WordPress folder hierarchy: `wp-content\plugins\vivawallet-for-woocommerce`. Please get back to me

[2020-01-07 12:07] Oanicica commented on #1294
@matthewrgourd  Everything is ok! Thank you very much for your help!

[2020-01-07 12:12] matthewrgourd commented on #1293
Hi @Harshp13, I'm sorry, but that's not our official Viva Wallet for WooCommerce plugin. You can download the correct one, along with detailed installation instructions, from here: https://developer.vivawallet.com/e-commerce-plugins/woocommerce/

The plugin you currently have installed was developed by a Greek hosting company called 'Papaki' and more specifically by its parent company 'Enartia'.

[2020-01-07 12:15] matthewrgourd commented on #1174
Hi @human-cbd I'm sorry, I've read your reply but can't offer you any further help so am closing this issue. As already stated, our plugin definitely works. You need to completely remove any previous installations before reinstalling. Thanks and have a nice day!

[2020-01-07 12:15] #1174 closed

[2020-01-07 12:41] Harshp13 commented on #1293
Ok i followed instructions and downloaded the zip and uploaded and it looks like i already had that one in the first place ?

So this is still not resolved ?

[2020-01-07 13:07] Vincegypt commented on #1256
Hi @matthewrgourd thanks for this good news wa are trying right now ;-)
we keep in touch

[2020-01-07 14:05] matthewrgourd commented on #1293
Hi there, the screenshot you sent about one day ago showed a URL containing the word 'papaki' meaning you definitely weren't using our plugin. If you now have the correct plugin installed your settings page shouldn't contain any reference to the other product. Can you send a screenshot through again so I can confirm?

[2020-01-07 14:33] matthewrgourd commented on #1279
Hi @smartfits, our Shopify plugin developer just got back to me. He advises that he has found the problem and it's now fixed. Please ensure that your Store Country (**Settings > General > Store Address**) is set to Greece. Thanks!

[2020-01-07 14:34] #1279 closed

[2020-01-07 15:28] matthewrgourd commented on #1258
Hi @odysseas12, I've just spoken with our dev team who say that 'Error - PaymentsCardHolderAuthenticationInvalidStatus' means that the 3DS authentication failed (I assume at the cardholder end). Hope this helps!

[2020-01-07 20:31] rikless commented on #1256
@matthewrgourd Sorry, but I've tried right now, and this endpoint :
```https://api.vivapayments.com/acquiring/v1/cards/chargetoken``` still respond as 403 error when using POST.

[2020-01-07 21:29] Harshp13 commented on #1293
![Screenshot (137)](https://user-images.githubusercontent.com/59532354/71930980-a87e6d00-3194-11ea-9d8d-075a55f82879.png)

I am still getting cancelled orders

[2020-01-07 21:30] Harshp13 commented on #1293
![Screenshot (139)](https://user-images.githubusercontent.com/59532354/71931063-debbec80-3194-11ea-95cc-f6961ca02fc2.png)

I am still getting orders cancelled

[2020-01-07 22:15] itskold opened #1297 "Prestasho ERROR 502"
Bonjour,

J'ai une site d'une cliente qui est client chez Vivawallet malgré la configuration et la revérification de la document tout est correctement respecté. A chaque fois, qu'un client désire aller dans le Checkout de son panier, le site plante et charge indéfiniment. J'ai essayer plusieurs variable pour voir d'où vient le problème et il s'avére etre du au module de Vivawallet. Voici tout les

[2020-01-07 22:16] itskold commented on #1297
l'API Key a été caché volontairement

[2020-01-08 09:20] matthewrgourd commented on #1293
I'd advise you to [contact the support team](https://wordpress.org/support/plugin/woo-payment-gateway-for-vivapayments/) for the plugin you've installed (which is not ours). Alternatively, remove your current plugin and [install the official Viva Wallet extension](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/). Hopefully after that you should not receive any errors. If you still

[2020-01-08 09:41] pvflessa commented on #1281
Hi there, Can I send you a private message with the link and the credentials? The website is under construction and it is password-protected. So can you provide an e-mail address? Also I have used the Payment API method.

[2020-01-08 10:00] matthewrgourd commented on #1256
@rikless, I'm getting the same and have raised with our dev team. Apologies, I'll get back to you as soon as possible.

[2020-01-08 11:27] matthewrgourd commented on #1256
Hi @rikless, ok, so I'm in the process of updating the documentation but the quick answer is we have replaced the `https://api.vivapayments.com/acquiring/v1/cards/chargetokens` call with `https://api.vivapayments.com/nativecheckout/v2/chargetokens` (`https://demo-api.vivapayments.com/nativecheckout/v2/chargetokens` on demo). Body parameters example:
[code]

[2020-01-08 12:01] matthewrgourd commented on #1281
Hi @pvflessa thanks, you can email me directly at mgourd@vivawallet.com. Thanks for confirming the integration route.

[2020-01-08 12:23] Harshp13 commented on #1293
What do you mean install the official viva wallet ? i have already followed that instruction and that plugin installed in the first place version 3.57.7 i already had this can you explain how to change the default timeout ?

[2020-01-08 12:57] Harshp13 commented on #1293
Ok the payment timeout is set to 300 default what do i change it to ?

[2020-01-08 13:34] rikless commented on #1256
@matthewrgourd we are not charging a card for this request. We want to save the credit card. Are you sure about the body parameters ? (the amount can't be there, and case on property has changed).

[2020-01-08 13:41] matthewrgourd commented on #1256
@rikless I see what you mean. I'll ask a developer.

[2020-01-08 13:43] rikless commented on #1256
eventId | 12005

[2020-01-08 13:59] matthewrgourd commented on #1297
Hi there, sorry to hear your client has been experiencing issues. I believe the problem may be that payment source 6084 is still pending. I'm not sure why this is. I'll get one of my colleagues to activate it as soon as possible.

[2020-01-08 14:00] itskold commented on #1297
Thank you. If you can do it as soon as possible please. thank you so much

[2020-01-08 14:56] matthewrgourd commented on #1256
@rikless Awaiting further developer input.

[2020-01-08 15:24] matthewrgourd commented on #1297
Hi @itskold an email with some instructions has been sent to info@parisis.be by our customer service team. This has to be responded to and action taken by your client before the payment source can be activated. Hope this helps!

[2020-01-08 15:34] itskold commented on #1297
It isn’t the good mail address. The correct mail is info@par-isis.be

[2020-01-08 15:43] matthewrgourd commented on #1297
I'm requesting a resend to the good email :-)

[2020-01-08 16:40] matthewrgourd commented on #1293
Hi @Harshp13 I suggest 600 seconds which is 10 minutes.

[2020-01-08 16:53] matthewrgourd commented on #1213
Closing issue as no recent updates...

[2020-01-08 16:53] #1258 closed

[2020-01-08 16:54] #1273 closed

[2020-01-08 16:57] matthewrgourd commented on #1276
Hi @WoodyLine is this still happening? I will need to raise with a member of our dev team in case it's an issue at our end. However, it could be something today with customers failing their 3DS. Is that a possibility? I can't tell much from the error message I'm afraid.

[2020-01-08 17:02] matthewrgourd commented on #1295
Hi there, you definitely need to create a new source that's separate from the default one. It shouldn't take more than a couple of days to move to active status. However, I think we email you. Please try again, checking we have the right email address registered against you. If you experience any further problems please email me at mgourd@vivawallet.com with your Merchant ID referencing this issue

[2020-01-08 17:02] #1289 closed

[2020-01-08 19:09] WoodyLine commented on #1276
We saw with the customers and it is not 3D Sécur they accept 3D Sécur, they
have the money on their account but are unable to pay the payment is still
refused. I tried my card myself and sometimes we are refused

Le mer. 8 janv. 2020 à 17:57, matthewrgourd <notifications@github.com> a
écrit :

[2020-01-08 21:59] Harshp13 commented on #1293
Still getting same problem ?

[2020-01-08 22:17] itskold commented on #1297
Hi,
I haven't received anything yet .. is this normal?

[2020-01-09 09:50] alkatsaros opened #1298 "Refund Issue (Live Payments)"
Καλησπέρα σας,

προσπαθώντας να κάνω ένα refund για μια συναλλαγή για την οποία έχει περάσει μια ημερολογιακή ημέρα έχω το παρακάτω response. Στο demo.vivapayments δεν είχα κάποιο θέμα. Μπορεί να παίζει ρόλο που ακόμα δεν έχει ολοκληρωθεί η ταυτοποιηση του λογαριασμού;

{
    "Emv": null,
    "Amount": null,
    "StatusId": "E",
    "CurrencyCode": null,
    "TransactionId": null,
    "ReferenceNu

[2020-01-09 10:01] matthewrgourd commented on #1293
Hi @Harshp13, apologies, I replied to you previously without checking the second screenshot you sent through. That is indeed our official plugin now. If you've increased the default timeout then we can rule that out as the issue. What I found just now was that there's definitely something weird going on with your checkout when I attempt to pay using Viva Wallet. Do you have any error logs that you

[2020-01-09 10:20] matthewrgourd commented on #1297
Apparently it was sent 25 minutes ago, all good now?

[2020-01-09 10:29] matthewrgourd commented on #1276
Hi @WoodyLine, ok, thanks for the additional info. Could I have the web address of your e-commerce site so I can have a look myself?

[2020-01-09 10:31] WoodyLine commented on #1276
Hello , link : woodyline.fr

Le jeu. 9 janv. 2020 à 11:29, matthewrgourd <notifications@github.com> a
écrit :

[2020-01-09 10:42] matthewrgourd commented on #1276
Hi @WoodyLine, ok, could I do some checks on your account? Please send me an email with your website address and Merchant ID (mgourd@vivawallet.com) referencing this issue.

[2020-01-09 10:59] matthewrgourd commented on #1298
Hi @alkatsaros, debits appear to be disabled on your account. Please call customer service to see what can be done: (+30) 211 7604 000. Thanks!

[2020-01-09 11:10] alkatsaros commented on #1298
Hi @matthewrgourd  and thanks for the quick response.

I had a call with customer service and they asked me to ask you some more details about the the issue.

Thanks

[2020-01-09 11:11] matthewrgourd commented on #1298
The issue that credits are disabled on your account for some reason so they (customer service) need to re-enable once they've made some checks.

[2020-01-09 11:33] alkatsaros commented on #1298
@matthewrgourd thanks! It seems it has to do with account account verification.
Thanks for your help!

[2020-01-09 11:43] matthewrgourd commented on #1256
Hi @rikless I'm advised that EventId: 12005 is "ServicesCardTokenizationCardholderAuthenticationFailed". This means that cardholder authentication failed. It is not related to the 403 Forbidden error.

[2020-01-09 12:00] matthewrgourd commented on #1256
@rikless I'm afraid I gave you the Native Checkout v2 instead of card tokenization endpoints previously hence why the `amount` parameter was mandatory. Sorry for that! Please see below explanation of card tokenization from our dev team:

First you need to generate a charge token. You do this by sending a POST request to https://demo-api.vivapayments.com/nativecheckout/v2/chargetokens

To obtain a

[2020-01-09 12:01] Harshp13 commented on #1293
![Screenshot (140)](https://user-images.githubusercontent.com/59532354/72066166-ca343d00-32d7-11ea-8db2-aac8ee4c782a.png)

[2020-01-09 12:07] Harshp13 commented on #1293
![Screenshot (141)](https://user-images.githubusercontent.com/59532354/72066472-960d4c00-32d8-11ea-8b9b-c95c88e41101.png)
![Screenshot (140)](https://user-images.githubusercontent.com/59532354/72066476-960d4c00-32d8-11ea-8548-fb08de36d7b9.png)

I have never had this before on my vivawallet account after checking today

[2020-01-09 13:22] Harshp13 commented on #1293
What is the issue ?

[2020-01-09 13:32] matthewrgourd commented on #1297
Hi @itskold I'm told your payment source is active now so I'm closing this issue.

[2020-01-09 13:32] #1297 closed

[2020-01-09 14:13] xrusap opened #1299 "Payment issue with digital products"
Hello,
 I have a problem with the pluggin viviawallet for woocomerce. I try to create a e-shop with digital products where my costumers when they pay with credit cards, they can downlaod the product. But by testing the pluggin vivawallet for woocomerce  while a successful payment message is displayed, the product is not displayed for the user to download. What can I do about this, please help me.

[2020-01-09 14:26] matthewrgourd commented on #1293
Hi @Harshp13 I've checked with our Customer Service team and the problem is your monthly transaction limits need to be increased. Apparently the only way to do this is to send a message to support@vivawallet.com from your registered email address. You'll need to include your Merchant ID, business name and the purpose of the email. For the latter, mention that Matt Gourd from GitHub support has inv

[2020-01-09 15:02] #1298 closed

[2020-01-09 15:18] matthewrgourd commented on #1283
Hi @Stratubas I've consulted with our dev team and here is a summary of their response:

1. The ability to tokenize a card in order to reuse it multiple times was temporarily removed before Christmas hence why the dev portal no longer mentions it. The feature has now been reinstroduced and I've provided a temporary write-up here: https://github.com/VivaPayments/API/issues/1256#issuecomment-5725309

[2020-01-09 15:21] Harshp13 commented on #1295
Ok i have done that but i was getting this issue before i hit the limits ?

[2020-01-09 15:25] matthewrgourd commented on #1282
Hi @Stratubas, our dev team has got back to me and apparently you did everything correctly. The purpose of passing the 3DS authentication when creating a charge token is to verify that the card is not stolen and that the actual cardholder is making the transaction. That's why it is mandatory to pass a two-factor authentication (Otp, biometrics etc.) There is no reason to reject the transaction. Ho

[2020-01-09 15:28] matthewrgourd commented on #1295
@Harshp13 ok, but it still could be connected. All I can suggest now is you wait to see what happens once the limits have been raised. If you experience any further issues do please get back to me!

[2020-01-09 15:32] Harshp13 commented on #1293
Will they get back to me by today or tomorrow ?

[2020-01-09 15:34] matthewrgourd commented on #1299
Hi there, sorry to hear this. First, can you confirm that you installed our official plugin by following [these installation instructions](https://developer.vivawallet.com/e-commerce-plugins/woocommerce/) on the Viva Wallet Developer Portal? Thanks!

[2020-01-09 15:36] Harshp13 commented on #1293
These are the limits  Acquiring (CP & CnP)
Per Transaction
£250
Daily
£500
Monthly
£3,000
Yearly
£15,000

I am pretty sure i have not done £3000 monthly ?

[2020-01-09 15:57] itskold commented on #1297
The account is activated, but the problem is still there! The module always puts an ERROR 502 during CHECKOUT!!

[2020-01-09 16:17] Harshp13 commented on #1293
I have just had one payment go through so i don't think it's to with limits

[2020-01-10 09:58] #1294 closed

[2020-01-10 10:31] matthewrgourd commented on #1293
@Harshp13 There was another limit I saw on your account of 100 transactions per month. I'll check with support and get back to you once I've confirmed if it needs removing. I'm not 100% clear on what needs to happen as it's a different department. Apologies again for any inconvenience caused.